@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");
.flex-container,
.flex-center {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-webkit-keyframes Appear {
  to {
    opacity: 1; } }
@keyframes Appear {
  to {
    opacity: 1; } }
@-webkit-keyframes borderWidth {
  to {
    width: 100px; } }
@keyframes borderWidth {
  to {
    width: 100px; } }
@-webkit-keyframes Circle {
  to {
    shape-outside: circle(50% at center);
    clip-path: circle(50% at center); } }
@keyframes Circle {
  to {
    shape-outside: circle(50% at center);
    clip-path: circle(50% at center); } }
@keyframes DrawLine {
  to {
    stroke-dashoffset: 0; } }
@keyframes FadeStroke {
  to {
    stroke-opacity: 0; } }
@keyframes FillIn {
  from {
    fill-opacity: 0; }
  to {
    fill-opacity: 1; } }
:root {
  box-sizing: border-box;
  height: 100%; }

html {
  font-size: 16px; }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 8 * ((100vw - 320px) / 1600)); } }
  @media screen and (min-width: 1920px) {
    html {
      font-size: 24px; } }

*, :after, :before, button, input, textarea {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; }

body {
  width: 100%;
  overflow-y: scroll !important; }
  body > section {
    overflow: hidden; }

:root {
  quotes: "„" "“" "‚" "‘"; }

.menu-item a,
.slider-typography,
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Proxima Nova", "Gotham", system-ui, sans-serif;
  text-transform: none !important; }

h1, h2, h3, h4, h5, h6 {
  margin: 2rem 0 1rem; }

h1, h2, h3 {
  font-weight: 700;
  letter-spacing: -0.07rem !important; }

h1 {
  font-size: 2.1rem; }

h2 {
  font-size: 1.9rem; }

h3 {
  font-size: 1.7rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

p {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: -0.0115rem;
  hyphens: auto;
  color: #1a171b; }
  p .pilcrow:after {
    content: "\2761";
    padding-right: 0.3rem;
    color: #bbbbbb; }

strong {
  color: #fa3232;
  font-weight: 600; }

.section-heading {
  margin: 2rem 0;
  position: relative; }
  .home .section-heading .subheader::after {
    content: "\2766";
    display: block;
    margin: 2rem -1rem 1rem;
    font-size: 2rem;
    text-align: center;
    color: #cccccc; }
  .grey-bg .section-heading .subheader {
    background: #eee !important; }
  .section-heading .subheader .section-title {
    padding: 0;
    margin: 1rem 0 .5rem;
    font: 800 calc(2.5rem)/1 "Montserrat", "Proxima Nova", "Gotham", system-ui, sans-serif !important;
    color: #fa3232; }
    @media only screen and (max-device-height: 667px) {
      .section-heading .subheader .section-title {
        margin: 1.7rem -4rem .5rem; } }
    .section-heading .subheader .section-title::after {
      content: '';
      position: absolute;
      top: -35%;
      left: 5%;
      height: 150%;
      width: 150%;
      z-index: 0;
      pointer-events: none;
      background: radial-gradient(circle farthest-side at top, rgba(255, 255, 255, 0.6) 0, rgba(255, 255, 255, 0) 100%); }
      .grey-bg .section-heading .subheader .section-title::after {
        background: radial-gradient(circle farthest-side at top, rgba(238, 238, 238, 0.6) 0, rgba(255, 255, 255, 0) 100%); }
      @media only screen and (max-width: 575px) {
        .section-heading .subheader .section-title::after {
          position: absolute;
          top: 10%;
          left: -10%;
          height: 60%;
          width: 150%; } }
  .section-heading .subheader h6 {
    max-width: 25rem;
    padding: 0;
    margin: 0.5rem auto 0;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: -0.05em !important;
    color: #777; }
    @media only screen and (max-device-height: 667px) {
      .section-heading .subheader h6 {
        font-size: 1.2rem;
        max-width: 15rem; } }
  .section-heading.no-subtitle .subheader .section-title {
    margin: 4rem 0 0; }
  @media only screen and (max-width: 767px) {
    .section-heading {
      margin: 0 0 1rem; }
      .section-heading .subheader {
        margin: 0 !important; }
        .section-heading .subheader .section-title {
          padding: 0 1rem 0 !important; } }

.about-section .subheader .section-title {
  font-size: 1.6rem !important;
  margin-bottom: 0.5rem; }

blockquote {
  line-height: 1.2;
  padding: 1em;
  font-family: "Lora", "Abril", "Miller", serif;
  font-size: 2em;
  font-style: italic;
  quotes: "„" "“" "‚" "‘"; }
  blockquote:before {
    content: open-quote; }
  blockquote:after {
    content: close-quote; }

.blog-short-description {
  background-color: #fff !important; }

.navbar-default {
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: rgba(255, 255, 255, 0); }

.nav-container {
  height: 120px;
  align-items: center;
  justify-content: space-between;
  -webkit-transition: height 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: height 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  @media (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi) {
    .nav-container {
      height: 60px !important;
      margin: 0 auto;
      align-items: center; } }
  .nav-container .nav-item {
    margin-top: -1em;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }
    @media (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi) {
      .nav-container .nav-item {
        transform: scale(0.626) !important; } }
  .nav-container .top-logo {
    z-index: 1099;
    margin: 0 auto;
    padding-top: 10px; }
    .nav-container .top-logo .svg-logo {
      width: 350px;
      max-height: 100px; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi) {
        .nav-container .top-logo .svg-logo {
          margin-top: 1em;
          width: 200px;
          max-height: 70px; }
          .shrink-nav .nav-container .top-logo .svg-logo {
            margin-top: 0; } }
      .nav-container .top-logo .svg-logo path {
        -webkit-transition: 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-property: fill, stroke; }
      .nav-container .top-logo .svg-logo .shrink_fill-dark {
        fill: #fff; }
        .shrink-nav .nav-container .top-logo .svg-logo .shrink_fill-dark {
          fill: #1A171B; }
      .nav-container .top-logo .svg-logo .shrink_both-dark {
        fill: #fff;
        stroke: #fff; }
        .shrink-nav .nav-container .top-logo .svg-logo .shrink_both-dark {
          fill: #1A171B;
          stroke: #1A171B; }
    .nav-container .top-logo .logo-after {
      position: absolute;
      left: 50%;
      right: auto;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }
      .nav-container .top-logo .logo-after .shrink_fill-dark {
        fill: #fff; }
      .nav-container .top-logo .logo-after .shrink_both-light {
        fill: transparent;
        stroke: transparent; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi) {
        .nav-container .top-logo .logo-after svg {
          max-height: 100px; } }
  .nav-container .top-burger {
    z-index: 1099; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi) {
      .nav-container .top-burger {
        margin: .2rem 0 0 -1.1rem !important; }
        .shrink-nav .nav-container .top-burger {
          margin: 0 0 0 -1.25em !important; } }
  .nav-container .top-search #top-search {
    margin: 0 !important; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi) {
    .nav-container .top-search {
      margin: .2rem -1.1rem 0 0 !important; }
      .shrink-nav .nav-container .top-search {
        margin: 0   -1.25em 0 0 !important; } }
  .nav-container .top-search:hover {
    background: rgba(0, 0, 0, 0.3); }
  .nav-container .top-search .header-search-form {
    height: 100%;
    width: 100%;
    display: block; }
    .nav-container .top-search .header-search-form .search-button {
      position: absolute;
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      font-size: 2em; }
      .nav-container .top-search .header-search-form .search-button:hover {
        color: #fff; }
  .overflow-hidden .nav-container .top-search .search-button {
    position: fixed;
    right: 0.5em;
    left: auto;
    z-index: 9999; }
  .nav-container .menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 99;
    padding-top: 220px !important;
    background-color: rgba(0, 0, 0, 0.67) !important;
    opacity: 0 !important;
    pointer-events: none;
    transform: translateY(-100%) scale3D(0.1, 0.1, 1);
    transition: opacity 600ms cubic-bezier(0.47, 0, 0.745, 0.715), transform 600ms 0.2s cubic-bezier(0.23, 1, 0.32, 1); }
    .show-menu .nav-container .menu-wrap {
      transform: translateY(0%) scale3D(1, 1, 1);
      -webkit-backdrop-filter: blur(30px);
      opacity: 1 !important;
      pointer-events: all; }
    @media only screen and (min-width: 768px) {
      .nav-container .menu-wrap {
        transform: translateY(-200%) scale3D(50, 50, 1); }
        .show-menu .nav-container .menu-wrap {
          transform: translateY(-10%) scale3D(1.2, 1.2, 1);
          pointer-events: all;
          -webkit-backdrop-filter: blur(30px);
          opacity: 1 !important; } }
    .nav-container .menu-wrap .nav {
      position: absolute;
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      padding: 0; }
      .nav-container .menu-wrap .nav li {
        border: 0 !important;
        padding: 0; }
        .nav-container .menu-wrap .nav li a.inner-link {
          display: block;
          padding: 7px;
          color: #fff;
          text-align: center !important;
          text-transform: uppercase !important;
          line-height: 1 !important;
          letter-spacing: -0.01rem;
          transition: color 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }
          @media only screen and (max-device-height: 667px) {
            .nav-container .menu-wrap .nav li a.inner-link {
              font-size: 1.4rem; } }
          .nav-container .menu-wrap .nav li a.inner-link:hover {
            background: rgba(255, 255, 255, 0.1) !important; }
          .shrink-nav .nav-container .menu-wrap .nav li a.inner-link {
            color: #000 !important; }
            .shrink-nav .nav-container .menu-wrap .nav li a.inner-link:hover {
              background: rgba(0, 0, 0, 0.1) !important; }
    .nav-container .menu-wrap #close-button {
      display: none; }

.shrink-nav {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  background-color: white;
  opacity: .93; }
  .has_backdropfilter .shrink-nav {
    -webkit-backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 1; }
  .shrink-nav .nav-container {
    height: 80px;
    padding-top: 0; }
    .shrink-nav .nav-container .nav-item {
      margin-top: 0;
      transform: scale(0.8); }
    .shrink-nav .nav-container .top-logo .svg-logo {
      max-height: 80px;
      transform: scale(0.8) !important; }
    .shrink-nav .nav-container .top-logo .logo-after {
      opacity: 0;
      pointer-events: none; }
    .shrink-nav .nav-container .top-burger {
      margin-left: -0.6em; }
    .shrink-nav .nav-container .top-search {
      margin-right: -0.6em;
      transform: scale(0.8); }
    .shrink-nav .nav-container .menu-wrap {
      background-color: rgba(255, 255, 255, 0.67) !important; }

.mfp-bg {
  pointer-events: none;
  display: none; }

.mfp-wrap {
  z-index: 1050;
  background: rgba(255, 255, 255, 0.9); }
  .mfp-wrap #search-header .mfp-close {
    z-index: 1046;
    position: absolute;
    top: 0.75em;
    right: 0.75em; }
    .mfp-wrap #search-header .mfp-close:hover {
      background: rgba(255, 0, 0, 0.5) !important; }

section,
.no-padding-bottom {
  padding-bottom: 200px !important; }
  @media only screen and (max-width: 575px) {
    section,
    .no-padding-bottom {
      padding: 100px 0 !important; } }

#Logo-Defs {
  height: 0;
  position: absolute; }

.vc_grid .vc_col-sm-3,
.vc_grid .vc_col-sm-4 {
  display: inline-block !important; }
  @media (min-width: 992px) {
    .vc_grid .vc_col-sm-3,
    .vc_grid .vc_col-sm-4 {
      width: 33%; } }
  @media (max-width: 991px) {
    .vc_grid .vc_col-sm-3,
    .vc_grid .vc_col-sm-4 {
      width: 50%; } }
  @media (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .vc_grid .vc_col-sm-3,
    .vc_grid .vc_col-sm-4 {
      width: 33%; } }

#menu-toggle,
#top-search {
  position: relative;
  height: 100px;
  width: 100px;
  margin: 0;
  padding: 0;
  cursor: pointer; }

#menu-toggle * {
  box-sizing: border-box;
  transition: 200ms ease-in-out;
  transition-property: width, height, color; }
#menu-toggle span {
  display: block;
  background: #fff; }
  .shrink-nav #menu-toggle span {
    background: #000; }
#menu-toggle:hover {
  background: rgba(0, 0, 0, 0.3); }
#menu-toggle #hamburger {
  position: absolute;
  height: 100%;
  width: 100%; }
  #menu-toggle #hamburger span {
    position: relative;
    top: 24px;
    left: 25px;
    height: 4px;
    width: 50px;
    margin: 10px 0; }
    #menu-toggle #hamburger span:nth-child(1) {
      transition-delay: 400ms; }
    #menu-toggle #hamburger span:nth-child(2) {
      transition-delay: 500ms; }
    #menu-toggle #hamburger span:nth-child(3) {
      transition-delay: 600ms; }
    .open #menu-toggle #hamburger span {
      width: 0%; }
      .open #menu-toggle #hamburger span:nth-child(1) {
        transition-delay: 0s; }
      .open #menu-toggle #hamburger span:nth-child(2) {
        transition-delay: 100ms; }
      .open #menu-toggle #hamburger span:nth-child(3) {
        transition-delay: 200ms; }
#menu-toggle #cross {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotate(45deg) scale(0.666); }
  #menu-toggle #cross span:nth-child(1) {
    position: absolute;
    top: 10%;
    left: 48px;
    height: 0%;
    width: 6.006006006px;
    transition-delay: 0s; }
    .open #menu-toggle #cross span:nth-child(1) {
      height: 80%;
      transition-delay: 500ms; }
  #menu-toggle #cross span:nth-child(2) {
    position: absolute;
    top: 48px;
    left: 10%;
    height: 6.006006006px;
    width: 0%;
    transition-delay: 200ms; }
    .open #menu-toggle #cross span:nth-child(2) {
      width: 80%;
      transition-delay: 300ms; }

.rebsorten-grid-item .normal-state,
.rebsorten-grid-item .hover-state {
  background: none !important;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-device-height: 736px) {
    .rebsorten-grid-item .normal-state,
    .rebsorten-grid-item .hover-state {
      height: 200px !important; } }
  @media (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .rebsorten-grid-item .normal-state,
    .rebsorten-grid-item .hover-state {
      height: 220px !important; } }
  .rebsorten-grid-item .normal-state .vc_gitem-zone-img,
  .rebsorten-grid-item .hover-state .vc_gitem-zone-img {
    position: absolute;
    top: 2rem;
    left: 0;
    display: block !important;
    visibility: visible;
    opacity: .04;
    -moz-backface-visibility: hidden; }
    @media only screen and (max-width: 991px) {
      .rebsorten-grid-item .normal-state .vc_gitem-zone-img,
      .rebsorten-grid-item .hover-state .vc_gitem-zone-img {
        top: 1.5rem; } }
.rebsorten-grid-item .normal-state .vc_gitem-row-position-top {
  position: inherit; }
  .rebsorten-grid-item .normal-state .vc_gitem-row-position-top .vc_custom_heading {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 3.7rem;
    margin: -1.7rem 2rem 0rem !important;
    font: normal normal 400 1.7rem "Lora", "Abril", "Miller", serif;
    line-height: 1;
    text-align: center;
    letter-spacing: -0.05rem;
    color: currentColor; }
    .rebsorten-grid-item .normal-state .vc_gitem-row-position-top .vc_custom_heading::after {
      height: 3px;
      width: 5.5rem;
      content: "";
      display: block;
      margin: 0.5rem auto 0;
      background: #c76164;
      animation: none 1s linear 1.5s forwards 1; }
    @media only screen and (max-width: 767px) {
      .rebsorten-grid-item .normal-state .vc_gitem-row-position-top .vc_custom_heading {
        margin: 0 !important;
        min-height: 1.6rem !important;
        padding: 0; }
        .rebsorten-grid-item .normal-state .vc_gitem-row-position-top .vc_custom_heading::after {
          margin-top: 0.5rem; }
        .rebsorten-grid-item .normal-state .vc_gitem-row-position-top .vc_custom_heading h2 {
          font-size: 1.1rem !important; } }
    @media (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
      .rebsorten-grid-item .normal-state .vc_gitem-row-position-top .vc_custom_heading h2 {
        font-size: 1.2rem !important; } }
    .rebsorten-grid-item .normal-state .vc_gitem-row-position-top .vc_custom_heading h2 {
      all: inherit; }
  .rebsorten-grid-item .normal-state .vc_gitem-row-position-top .vc_gitem-acf {
    font: normal normal 2rem "Montserrat", "Proxima Nova", "Gotham", system-ui, sans-serif !important;
    margin: 0 auto;
    color: #c76164; }
    @media only screen and (max-width: 767px) {
      .rebsorten-grid-item .normal-state .vc_gitem-row-position-top .vc_gitem-acf {
        font-size: 1.4rem !important;
        padding-top: 0.2rem; } }
    @media (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
      .rebsorten-grid-item .normal-state .vc_gitem-row-position-top .vc_gitem-acf {
        font-size: 1.6rem !important; } }
.rebsorten-grid-item .hover-state .grid-zitat {
  height: 2.8rem;
  font: normal 600 1rem/1.1 "Montserrat", "Proxima Nova", "Gotham", system-ui, sans-serif;
  letter-spacing: -1px;
  color: #c76164;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }
  @media only screen and (max-device-height: 736px) {
    .rebsorten-grid-item .hover-state .grid-zitat {
      height: auto;
      font-size: 1.1em; } }
  .rebsorten-grid-item .hover-state .grid-zitat::before {
    content: open-quote; }
  .rebsorten-grid-item .hover-state .grid-zitat::after {
    content: close-quote; }
@media only screen and (max-width: 991px) {
  .rebsorten-grid-item .hover-state .rebsorten-grid-excerpt {
    display: none; } }
.rebsorten-grid-item .hover-state .rebsorten-grid-excerpt p {
  font: normal 400 1.1em/1.4 "Lora", "Abril", "Miller", serif;
  letter-spacing: -0.8px;
  text-align: center;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: #444; }
  .has_shapes .rebsorten-grid-item .hover-state .rebsorten-grid-excerpt p {
    text-align: justify; }
.rebsorten-grid-item .hover-state .left-flow, .rebsorten-grid-item .hover-state .right-flow {
  height: 260px;
  width: 50%;
  shape-margin: 7px; }
.rebsorten-grid-item .hover-state .left-flow {
  float: left;
  -webkit-shape-outside: polygon(0% 0%, 9% 0%, 9% 20%, 15% 43%, 25% 55%, 30% 60%, 35% 65%, 45% 70%, 65% 80%, 100% 90%, 100% 100%, 0% 100%);
  -moz-shape-outside: polygon(0% 0%, 9% 0%, 9% 20%, 15% 43%, 25% 55%, 30% 60%, 35% 65%, 45% 70%, 65% 80%, 100% 90%, 100% 100%, 0% 100%);
  shape-outside: polygon(0% 0%, 9% 0%, 9% 20%, 15% 43%, 25% 55%, 30% 60%, 35% 65%, 45% 70%, 65% 80%, 100% 90%, 100% 100%, 0% 100%); }
.rebsorten-grid-item .hover-state .right-flow {
  float: right;
  -webkit-shape-outside: polygon(0% 90%, 33% 80%, 55% 70%, 65% 65%, 70% 60%, 75% 55%, 85% 43%, 92% 20%, 92% 0%, 100% 0%, 100% 100%, 0% 100%);
  -moz-shape-outside: polygon(0% 90%, 33% 80%, 55% 70%, 65% 65%, 70% 60%, 75% 55%, 85% 43%, 92% 20%, 92% 0%, 100% 0%, 100% 100%, 0% 100%);
  shape-outside: polygon(0% 90%, 33% 80%, 55% 70%, 65% 65%, 70% 60%, 75% 55%, 85% 43%, 92% 20%, 92% 0%, 100% 0%, 100% 100%, 0% 100%); }
.rebsorten-grid-item .hover-state .more-button {
  margin-bottom: 0;
  font-family: "Montserrat", "Proxima Nova", "Gotham", system-ui, sans-serif; }

.grid-container {
  display: grid;
  grid-gap: 40px;
  max-width: 991px;
  margin: 0 auto; }
  .grid-container > * {
    color: #fff;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 10px; }

@media only screen and (min-width: 992px) {
  .sidebar {
    width: 19.1489%; }

  .content {
    width: 79.7872%; }

  .grid-container {
    margin: 0 auto;
    grid-template-columns: 5fr 200px; }

  header, footer {
    grid-column: 1 / -1;
    clear: both; } }
.grid-container > * {
  color: #fff;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 10px; }

@supports (display: grid) {
  .grid-container > * {
    width: auto;
    margin: 0; } }
.modal-wrapper {
  z-index: 1032; }

.modal {
  overflow: auto !important;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(10px);
  color: #f7f7f7 !important;
  box-shadow: none; }
  @media only screen and (max-device-height: 667px) {
    .modal {
      padding: 1rem; } }
  .modal .close-modal {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    overflow: hidden;
    font: 100 5rem/0.5 "Montserrat", "Proxima Nova", "Gotham", system-ui, sans-serif !important;
    color: #f7f7f7;
    cursor: pointer; }
    .modal .close-modal:hover {
      color: #ca696b; }
  .modal-wrapper:not(.modal-small) .modal {
    top: 80px; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi) {
      .modal-wrapper:not(.modal-small) .modal {
        top: 60px; } }
    .modal-wrapper:not(.modal-small) .modal .close-modal {
      top: 90px; }
  .modal #modal-content > section {
    padding: 0 !important; }
  .modal #modal-content h1, .modal #modal-content h2, .modal #modal-content h3, .modal #modal-content h4 {
    color: #f7f7f7;
    margin-bottom: .5rem; }
  .modal #modal-content h1 {
    font-size: 2.5rem;
    color: #f7f7f7; }
  .modal #modal-content a {
    color: #f7f7f7; }
  .modal #modal-content blockquote {
    padding-left: 1rem;
    font-size: 1.7rem; }
  .modal-small .modal #modal-content h1 {
    font-size: 1.8rem;
    margin-top: 0; }
  .modal-small .modal #modal-content h2 {
    margin: 1rem 0 0.5rem;
    font-size: 1.3rem;
    color: #c76164; }
  .modal-small .modal #modal-content p {
    font-size: 0.9rem;
    line-height: 1.6;
    text-align: left;
    color: #f7f7f7; }
    .has_no-csshyphens .modal-small .modal #modal-content p {
      text-align: left; }
  .modal-small .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: auto !important;
    min-height: 40%;
    min-width: 60%; }
    .modal-small .modal img {
      border-radius: 100% 0 100% 100%; }
    .modal-small .modal a img {
      shape-outside: circle(50% at center);
      max-width: 45%; }
    @media only screen and (max-width: 767px) {
      .modal-small .modal {
        height: 100%;
        width: 100%;
        min-height: 100%;
        padding: 2rem; } }
    @media only screen and (min-width: 768px) {
      .modal-small .modal {
        width: 50%; }
        .modal-small .modal #modal-content {
          padding: 1rem; } }
    @media (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
      .modal-small .modal {
        padding: 0 2rem 2rem;
        width: 75%; }
        .modal-small .modal #modal-content {
          padding: 2rem;
          font-size: 1.3rem;
          line-height: 1.3; }
        .modal-small .modal img {
          width: 150%; } }

.glass-container {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  height: 100px;
  width: 100px;
  margin: 0 auto;
  overflow: visible; }
  .glass-container .glass-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: 51%;
    width: 51%;
    background: #B5F0E8;
    opacity: 0.7;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 2; }
    .glass-container .glass-mask::after {
      content: "";
      position: absolute;
      bottom: -100%;
      left: 49%;
      height: 100%;
      width: 5%;
      background: inherit; }
    .glass-container .glass-mask::before {
      content: "";
      position: absolute;
      bottom: -100%;
      left: 10%;
      height: 5%;
      width: 80%;
      background: inherit; }
    .glass-container .glass-mask .glass {
      position: absolute;
      top: 5%;
      left: 5%;
      height: 90%;
      width: 90%;
      opacity: 0.7;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      z-index: 3;
      overflow: hidden; }
      .glass-container .glass-mask .glass .fill {
        position: absolute;
        bottom: -5%;
        left: 0;
        height: 5%;
        width: 100%;
        background: #da0000;
        opacity: 0.8;
        animation: wine 2s infinite alternate;
        z-index: 1; }

@keyframes wine {
  to {
    height: 90%; } }
.section-logo {
  height: 250px;
  z-index: 3;
  position: relative;
  animation-delay: 0s; }
  @media only screen and (max-width: 767px) {
    .section-logo {
      margin: -0.5rem 0 -3rem !important; } }
  .section-logo h2 {
    display: none; }

.section-logo-svg {
  height: calc(6vh + 7rem);
  width: calc(6vw + 7rem);
  position: absolute;
  top: 0;
  right: -25%;
  bottom: 0;
  left: -25%;
  margin: auto;
  display: block;
  fill: #333;
  fill: url("#MyGradient");
  stroke: #333;
  stroke-miterlimit: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 0.5;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.065)); }
  .watermark .section-logo-svg {
    height: 230px;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    fill: rgba(255, 255, 255, 0.1);
    stroke: rgba(255, 255, 255, 0.5);
    z-index: -1; }

.animate-draw {
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 2s, 2s, 1s;
  animation-delay: 0.5s, 1.5s, 2s;
  animation-delay: 1s, 2s, 2.5s; }
  .watermark .animate-draw {
    animation-duration: 1s, 1s, 1s;
    animation-delay: 0s, 1s, 1s; }
  .section-logo.animated .animate-draw, .section-logo.animated .animate-draw, .watermark .animate-draw {
    animation-name: DrawLine, FadeStroke, FillIn; }
  .has_no-cssanimations .animate-draw.draw-mark {
    fill-opacity: 1;
    stroke-opacity: 0;
    stroke-dashoffset: 0; }
  .animate-draw.draw-frame {
    fill: #fff;
    animation-duration: 3s, 1s, 1s;
    animation-delay: 1s, 2s, 2s;
    stroke: transparent;
    stroke-opacity: 0; }
    .grey-bg .animate-draw.draw-frame {
      fill: #eee; }
    .watermark .animate-draw.draw-frame {
      fill: transparent; }

[data-tooltip] {
  position: relative; }
  [data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -50px;
    left: -10px;
    z-index: 999999;
    background: #ffe;
    padding: .5em 1em;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    font: normal 18px monospace;
    letter-spacing: initial;
    color: #333;
    white-space: nowrap;
    opacity: 0;
    transition: opacity .3s; }
  [data-tooltip]:hover::after {
    opacity: 1; }

.progress {
  height: 4em;
  padding: 5px;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.05); }
  .progress .progress-bar {
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 5px;
    background-image: radial-gradient(circle farthest-side at top, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0) 100%);
    background-position: 0 0;
    background-size: 150%;
    background-color: #c76164;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.1);
    animation: progressWidth25 1s linear 2s 1 forwards; }
    .developing ~ .progress .progress-bar {
      animation: progressWidth50 2s 2s 1 forwards; }
    .growing ~ .progress .progress-bar {
      animation: progressWidth75 2s 2s 1 forwards; }
    .available ~ .progress .progress-bar {
      animation: progressWidth00 2s 2s 1 forwards; }

@keyframes progressWidth25 {
  to {
    width: 25%; } }
@keyframes progressWidth50 {
  to {
    width: 50%; } }
@keyframes progressWidth75 {
  to {
    width: 75%; } }
@keyframes progressWidth00 {
  to {
    width: 100%; } }
nav + section + section, nav + section, section + footer {
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  .has_no-backdropfilter .show-menu nav + section + section, .has_no-backdropfilter.modal-is-open nav + section + section, .has_no-backdropfilter .show-menu
  nav + section,
  .has_no-backdropfilter.modal-is-open nav + section, .has_no-backdropfilter .show-menu
  section + footer,
  .has_no-backdropfilter.modal-is-open section + footer {
    -webkit-filter: blur(10px);
    /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: blur(10px);
    /* FF 35+ */ }

@media only screen and (min-width: 768px) {
  nav + section, section + footer {
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }
    .has_no-backdropfilter.modal-is-open nav + section,
    .has_no-backdropfilter.modal-is-open section + footer {
      -webkit-filter: blur(15px);
      /* Ch 23+, Saf 6.0+, BB 10.0+ */
      filter: blur(15px);
      /* FF 35+ */ }
    .has_no-backdropfilter .show-menu nav + section, .has_no-backdropfilter .show-menu section + footer {
      -webkit-filter: blur(4px);
      /* Ch 23+, Saf 6.0+, BB 10.0+ */
      filter: blur(4px);
      /* FF 35+ */
      transition: filter 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.6s, opacity 600ms 0.1s cubic-bezier(0.47, 0, 0.745, 0.715), transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1); } }
body.images-loaded #loading-page {
  opacity: 0; }
body #loading-page {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 1s;
  background: #252525;
  z-index: 1040;
  pointer-events: none; }
.modal-is-open body {
  overflow-y: hidden !important; }

.single-rebsorte .logo-after {
  display: none; }
.single-rebsorte .parallax-fix {
  background-size: 168% !important; }
  .single-rebsorte .parallax-fix .bg-black {
    background: rgba(0, 0, 0, 0.33); }
  .single-rebsorte .parallax-fix .white-text {
    display: none; }
  .single-rebsorte .parallax-fix + .hentry .watermark svg {
    fill: rgba(255, 255, 255, 0.2); }
  .single-rebsorte .parallax-fix + .hentry .brand-wrapper {
    z-index: 1;
    position: fixed;
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 150px; }
    .single-rebsorte .parallax-fix + .hentry .brand-wrapper h2 {
      font-size: 1.7rem; }
    .single-rebsorte .parallax-fix + .hentry .brand-wrapper .ursprungsnummer-title {
      font-size: 1.6rem !important;
      color: #fff !important; }
    .single-rebsorte .parallax-fix + .hentry .brand-wrapper .rebsorte-title::after {
      background: #fa3232; }
  .single-rebsorte .parallax-fix + .hentry #claim {
    display: none; }
  .single-rebsorte .parallax-fix + .hentry .section-heading {
    margin: 0 0 1rem;
    text-align: left; }
    .single-rebsorte .parallax-fix + .hentry .section-heading .subheader {
      padding: 0;
      font-size: 1.7rem; }
      .single-rebsorte .parallax-fix + .hentry .section-heading .subheader h2 {
        padding: 0;
        font-size: inherit !important;
        margin: 1rem 0 0; }
  .single-rebsorte .parallax-fix + .hentry b.quote-mark-left {
    position: absolute;
    top: 50px;
    left: -33px; }
  .single-rebsorte .parallax-fix + .hentry b.quote-mark-right {
    position: absolute;
    top: 13px;
    right: -32px; }
  .single-rebsorte .parallax-fix + .hentry .content,
  .single-rebsorte .parallax-fix + .hentry .sidebar {
    color: #333; }
    .single-rebsorte .parallax-fix + .hentry .content p,
    .single-rebsorte .parallax-fix + .hentry .sidebar p {
      color: inherit; }
.single-rebsorte section.hentry {
  padding: 0 !important; }

.modal-is-open .rebsorte-template-default .navbar {
  visibility: hidden;
  pointer-events: none; }
.modal-is-open .rebsorte-template-default .modal-wrapper:not(.modal-small) .modal {
  top: 0; }

#modal-content .section-heading {
  display: none !important; }

.grid-container .brand-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
  margin: 0 auto; }
  .grid-container .brand-wrapper .watermark {
    position: absolute; }
  .grid-container .brand-wrapper h2 {
    opacity: 0;
    animation: Appear 1s linear 1.5s forwards 1; }
  .grid-container .brand-wrapper .rebsorte-title {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 3.5rem;
    margin: -1.7rem 2rem 0rem !important;
    font: normal normal 400 1.5rem "Lora", "Abril", "Miller", serif;
    line-height: 1;
    text-align: center;
    letter-spacing: -0.05rem;
    color: currentColor; }
    .grid-container .brand-wrapper .rebsorte-title::after {
      height: 3px;
      width: 0;
      content: "";
      display: block;
      margin: 0.5rem auto 0;
      background: #c76164;
      animation: borderWidth 1s linear 1.5s forwards 1; }
  .grid-container .brand-wrapper .ursprungsnummer-title {
    font: normal normal 1.8rem "Montserrat", "Proxima Nova", "Gotham", system-ui, sans-serif !important;
    margin: 0 auto;
    color: #c76164;
    color: #c76164 !important; }
.grid-container .content,
.grid-container .sidebar {
  opacity: 0;
  color: #f7f7f7;
  animation: Appear 1s linear 1s forwards 1; }
  .grid-container .content h2, .grid-container .content h3,
  .grid-container .sidebar h2,
  .grid-container .sidebar h3 {
    margin: 2rem 0 1rem;
    text-transform: none;
    font-weight: 700;
    color: #c76164; }
  .grid-container .content p,
  .grid-container .sidebar p {
    font-size: 0.86rem;
    color: #f7f7f7; }
.grid-container .content .rebsorte-status {
  position: relative; }
  .grid-container .content .rebsorte-status .rebsorte-status-icons {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    position: absolute;
    height: 4em;
    width: 100%;
    color: #fff; }
    @media (max-device-height: 667px) {
      .grid-container .content .rebsorte-status .rebsorte-status-icons {
        align-items: stretch;
        flex-direction: column-reverse;
        height: 100%; }
        .grid-container .content .rebsorte-status .rebsorte-status-icons div {
          height: 100%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border: 2px solid rgba(255, 255, 255, 0.2);
          text-align: center; } }
    .grid-container .content .rebsorte-status .rebsorte-status-icons span {
      font-family: "Montserrat", "Proxima Nova", "Gotham", system-ui, sans-serif;
      font-weight: 400;
      letter-spacing: -0.01rem; }
    .grid-container .content .rebsorte-status .rebsorte-status-icons i {
      font-size: 1.5em;
      color: inherit; }
      .grid-container .content .rebsorte-status .rebsorte-status-icons i::before {
        margin-right: .2em;
        vertical-align: middle; }
@media (max-device-height: 667px) {
  .grid-container .content .progress {
    transform: rotateZ(-90deg);
    height: 91vw;
    z-index: -1;
    position: relative;
    padding: 0; } }
.grid-container .content .partnerwinzer {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .grid-container .content .partnerwinzer ul {
    padding: 0;
    list-style-type: none; }
    .grid-container .content .partnerwinzer ul li {
      height: 142px;
      width: 142px;
      display: inline-block;
      margin-right: 0.2rem;
      padding: 5px;
      background: rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.05); }
      .grid-container .content .partnerwinzer ul li a.modal-link {
        height: 132px;
        width: 132px;
        display: table-cell;
        padding: 5px;
        background-image: radial-gradient(circle farthest-side at top, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0) 100%);
        background-position: 0 0;
        background-size: 0;
        background-color: #c76164;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.1); }
        .grid-container .content .partnerwinzer ul li a.modal-link img {
          background: #c76164; }
.grid-container .content .section-science {
  font-size: 1.6rem;
  line-height: 1;
  color: #c76164; }
.grid-container .content .rebsorte-featured-image-thumb {
  padding: 0 0 1rem 1rem; }
.grid-container .content:first-of-type::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  border-bottom: 3px double rgba(255, 255, 255, 0.2);
  margin: 1rem 4rem 0rem; }
.grid-container .sidebar {
  color: #f7f7f7; }
  .grid-container .sidebar .rebsorte-featured-image-thumb img {
    float: right;
    height: 200px;
    width: 200px;
    width: 200px;
    height: 200px;
    margin-top: 4rem;
    padding: 5px;
    background: rgba(0, 0, 0, 0.15);
    display: block;
    height: 100%;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.05); }
  .grid-container .sidebar .view-pdf {
    position: relative;
    display: inline-block;
    border: 1px solid #dadada;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    width: 150px;
    float: none; }
    .grid-container .sidebar .view-pdf img {
      -webkit-filter: blur(2px);
      /* Ch 23+, Saf 6.0+, BB 10.0+ */
      filter: blur(2px);
      /* FF 35+ */
      -webkit-transition: filter 0.5s ease;
      transition: filter 0.5s ease; }
    .grid-container .sidebar .view-pdf:after {
      content: "";
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      font-family: FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      font-size: 7em;
      line-height: 0;
      color: #d33;
      pointer-events: none; }
    .grid-container .sidebar .view-pdf:hover:after {
      content: "";
      opacity: 0.5; }
    .grid-container .sidebar .view-pdf:hover img {
      -webkit-filter: none;
      /* Ch 23+, Saf 6.0+, BB 10.0+ */
      filter: none;
      /* FF 35+ */ }

.owl-carousel .bg-black {
  background: rgba(0, 0, 0, 0.2) url(../i/patterns/noisy-net-dark.png);
  opacity: 0.85; }
.owl-carousel .owl-prev .fa, .owl-carousel .owl-next .fa {
  color: #fff; }
.owl-carousel .owl-prev:before, .owl-carousel .owl-next:before {
  background-color: rgba(0, 0, 0, 0.3); }
.owl-carousel .owl-prev:hover:before, .owl-carousel .owl-next:hover:before {
  background-color: rgba(255, 255, 255, 0.3); }

.slider-typography .slider-text-middle-main {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center; }
.slider-typography .slider-text-middle {
  margin-top: 15%;
  font: normal 500 3rem "Montserrat", "Proxima Nova", "Gotham", system-ui, sans-serif; }
  .slider-typography .slider-text-middle h1 {
    margin: 0 0 10% !important;
    font-size: 3.3rem;
    font-weight: 400;
    text-transform: none;
    color: rgba(255, 255, 255, 0.25); }
    .slider-typography .slider-text-middle h1 strong, .slider-typography .slider-text-middle h1 em {
      font-size: 2.6rem;
      font-weight: 600;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgba(0, 0, 0, 0.4); }
    .slider-typography .slider-text-middle h1 strong {
      margin: 0;
      color: rgba(255, 255, 255, 0.9); }
    .slider-typography .slider-text-middle h1 em {
      margin-left: -0.5rem;
      font-style: normal;
      color: #df4444; }
      @media (max-width: 575px) {
        .slider-typography .slider-text-middle h1 em {
          display: block;
          margin-top: 1rem; } }
  .slider-typography .slider-text-middle a {
    background: #df4444;
    color: white;
    display: none !important; }

@media only screen and (min-width: 992px) and (max-width: 1441px) {
  .mission-col {
    width: 100%; } }

@media (min-width: 1442px) {
  .mission-grid .vc_col-sm-3 {
    width: 25%; } }
@media (max-width: 1441px) {
  .mission-grid .vc_col-sm-3 {
    width: 50%; } }
@media (max-width: 575px) {
  .mission-grid .vc_col-sm-3 {
    width: 80%; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .mission-grid .vc_col-sm-3:nth-of-type(odd) {
    left: 5%; }
  .mission-grid .vc_col-sm-3:nth-of-type(even) {
    right: 5%; } }
@media (min-width: 1200px) and (max-width: 1441px) {
  .mission-grid .vc_col-sm-3:nth-of-type(odd) {
    left: 10%; }
  .mission-grid .vc_col-sm-3:nth-of-type(even) {
    right: 10%; } }
.mission-grid h3,
.mission-grid .tagline,
.mission-grid .mission-description-acf {
  margin: 0 auto;
  font: 600 1.3rem "Montserrat", "Proxima Nova", "Gotham", system-ui, sans-serif;
  letter-spacing: -0.06rem;
  color: #fa3232;
  text-align: center !important;
  max-width: 8em;
  color: #999;
  -webkit-font-smoothing: subpixel-antialiased !important; }
.mission-grid .tagline:before {
  content: "Wir ";
  font-weight: 800;
  color: #c76164; }
.mission-grid .mission-description-acf {
  font-size: 1.6em;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 0 30px rgba(25, 25, 25, 0.74); }
  .mission-grid .mission-description-acf:after {
    content: "\:"; }
.mission-grid h3 {
  color: rgba(221, 51, 51, 0.8);
  text-transform: none; }
.mission-grid .wpb_single_image {
  max-width: 280px;
  padding: 20px;
  margin: 0 auto !important; }
.mission-grid .vc_is-hover .vc_figure {
  position: relative; }
  .mission-grid .vc_is-hover .vc_figure:before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba(255, 255, 255, 0.5); }
.mission-grid .vc_gitem-zone-c {
  margin-top: -1.5em; }

@media only screen and (max-width: 575px) {
  section#rebsorten .col-xs-4 {
    width: 100%;
    padding: 10% 25%; }
  section#rebsorten .col-xs-8 {
    width: 100%; }
  section#rebsorten .logo-description .vc_gitem-zone-img {
    margin-top: 1em !important;
    height: 150px !important; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  section#rebsorten .logo-description .vc_gitem-zone-img {
    margin-top: 0 !important;
    height: 180px !important; } }
section#rebsorten .logo-description-text p {
  text-align: left; }
section#rebsorten .vc_gitem-zone {
  overflow: visible; }

@media (min-width: 576px) {
  .partner-grid .vc_grid-item {
    width: 25%; } }
@media (max-width: 575px) {
  .partner-grid .vc_grid-item {
    width: 50%; } }
.partner-grid .vc_grid-item .partner-grid-item {
  background-size: auto !important; }
  @media only screen and (max-width: 767px) and (max-device-height: 736px) and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi) {
    .partner-grid .vc_grid-item .partner-grid-item {
      background-size: 90% !important; } }
.partner-grid .vc_grid-item h3 {
  font-size: 1.5em;
  color: #fff;
  text-shadow: 0 0 2px #000; }

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-timer.la-4x {
  width: 128px;
  height: 128px; }

.la-timer.la-4x > div {
  width: 128px;
  height: 128px;
  border-width: 6px; }

.la-timer.la-4x > div:before,
.la-timer.la-4x > div:after {
  top: 56px;
  left: 56px;
  width: 8px;
  margin-top: -4px;
  margin-left: -4px;
  border-radius: 8px;
  -webkit-transform-origin: 4px 4px 0;
  -moz-transform-origin: 4px 4px 0;
  -ms-transform-origin: 4px 4px 0;
  -o-transform-origin: 4px 4px 0;
  transform-origin: 4px 4px 0; }

.la-timer.la-4x > div:before {
  height: 48px; }

.la-timer.la-4x > div:after {
  height: 32px; }

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-timer, .la-timer > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.la-timer {
  display: block;
  font-size: 0;
  color: #fff; }

.la-timer.la-dark {
  color: #333; }

.la-timer > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor; }

.la-timer {
  width: 32px;
  height: 32px; }

.la-timer > div {
  width: 32px;
  height: 32px;
  background: transparent;
  border-width: 2px;
  border-radius: 100%; }

.la-timer > div:before, .la-timer > div:after {
  position: absolute;
  top: 14px;
  left: 14px;
  display: block;
  width: 2px;
  margin-top: -1px;
  margin-left: -1px;
  content: "";
  background: currentColor;
  border-radius: 2px;
  -webkit-transform-origin: 1px 1px 0;
  -moz-transform-origin: 1px 1px 0;
  -ms-transform-origin: 1px 1px 0;
  -o-transform-origin: 1px 1px 0;
  transform-origin: 1px 1px 0;
  -webkit-animation: timer-loader 1250ms infinite linear;
  -moz-animation: timer-loader 1250ms infinite linear;
  -o-animation: timer-loader 1250ms infinite linear;
  animation: timer-loader 1250ms infinite linear;
  -webkit-animation-delay: -625ms;
  -moz-animation-delay: -625ms;
  -o-animation-delay: -625ms;
  animation-delay: -625ms; }

.la-timer > div:before {
  height: 12px; }

.la-timer > div:after {
  height: 8px;
  -webkit-animation-duration: 15s;
  -moz-animation-duration: 15s;
  -o-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-delay: -7.5s;
  -moz-animation-delay: -7.5s;
  -o-animation-delay: -7.5s;
  animation-delay: -7.5s; }

.la-timer.la-sm {
  width: 16px;
  height: 16px; }

.la-timer.la-sm > div {
  width: 16px;
  height: 16px;
  border-width: 1px; }

.la-timer.la-sm > div:before, .la-timer.la-sm > div:after {
  top: 7px;
  left: 7px;
  width: 1px;
  margin-top: -.5px;
  margin-left: -.5px;
  border-radius: 1px;
  -webkit-transform-origin: 0.5px 0.5px 0;
  -moz-transform-origin: 0.5px 0.5px 0;
  -ms-transform-origin: 0.5px 0.5px 0;
  -o-transform-origin: 0.5px 0.5px 0;
  transform-origin: 0.5px 0.5px 0; }

.la-timer.la-sm > div:before {
  height: 6px; }

.la-timer.la-sm > div:after {
  height: 4px; }

.la-timer.la-2x {
  width: 64px;
  height: 64px; }

.la-timer.la-2x > div {
  width: 64px;
  height: 64px;
  border-width: 4px; }

.la-timer.la-2x > div:before, .la-timer.la-2x > div:after {
  top: 28px;
  left: 28px;
  width: 4px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 4px;
  -webkit-transform-origin: 2px 2px 0;
  -moz-transform-origin: 2px 2px 0;
  -ms-transform-origin: 2px 2px 0;
  -o-transform-origin: 2px 2px 0;
  transform-origin: 2px 2px 0; }

.la-timer.la-2x > div:before {
  height: 24px; }

.la-timer.la-2x > div:after {
  height: 16px; }

.la-timer.la-3x {
  width: 96px;
  height: 96px; }

.la-timer.la-3x > div {
  width: 96px;
  height: 96px;
  border-width: 6px; }

.la-timer.la-3x > div:before, .la-timer.la-3x > div:after {
  top: 42px;
  left: 42px;
  width: 6px;
  margin-top: -3px;
  margin-left: -3px;
  border-radius: 6px;
  -webkit-transform-origin: 3px 3px 0;
  -moz-transform-origin: 3px 3px 0;
  -ms-transform-origin: 3px 3px 0;
  -o-transform-origin: 3px 3px 0;
  transform-origin: 3px 3px 0; }

.la-timer.la-3x > div:before {
  height: 36px; }

.la-timer.la-3x > div:after {
  height: 24px; }

@-webkit-keyframes timer-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes timer-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes timer-loader {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes timer-loader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*# sourceMappingURL=global.css.map */
