// Global
//

@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');

// @import url('vc_material.min.css');

$red : #d33;

//

* {
    transition-timing-function: initial;
    -moz-transition-timing-function: initial;
    -webkit-transition-timing-function: initial;
    -o-transition-timing-function: initial;
    transition-duration: initial;
    -moz-transition-duration: initial;
    -webkit-transition-duration: initial;
    -o-transition-duration: initial;
}

.flex-container,
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Post content

blockquote {
    line-height: 1.2;
    padding: 1em 2em;
    font-family: "Lora",serif;
    font-size: 2em;
    font-style: italic;
    quotes: "„" "“" "‚" "‘";
    &:before {
        content: open-quote;
    }
    &:after {
        content: close-quote;
    }
}

.menu-item a,
h1, h2, h3, h4, h5, h6,
.slider-typography {
    font-family: "Montserrat", "Gotham Medium", "Proxima Nova Semibold", system-ui, sans-serif;
}

.entry-content {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: .5em;
    }
}

.blog-short-description {
    background-color: #fff !important;
}

// Sections


h1.section-title {
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 32px !important;
}

.section-heading {
    margin-bottom: 4em;
    position: relative;
    .section-title {
        padding-bottom: 0em;
        font-size: 36px;
        color: $red;
    }
    h6 {
        font-size: 21px;
        text-transform: none;
        line-height: 1.5;
    }
    .medium-icon {
        max-height: 200px;
    }
}

.entry-content {
    // background-color: #444;
    > section {
        background-color: #fff;
    }
    section#slider {
        background-color: #444;
        .owl-prev, .owl-next {
            .fa {
                color: #fff;
            }
            &:before {
                background-color: transparentize(#000, 0.7);
            }
            &:hover:before {
                background-color: transparentize(#fff, 0.7)
            }
        }}
    section#wortmarke {
        display: flex;
        align-items: center;
        .wortmarke {
            figure {
                display: flex;
                justify-content: center;
                pointer-events: none;
                &:hover {

                }
                &:before {
                    @include coverer(0);
                    content: "";
                    width: 50vw;
                    height: 20vw;
                    margin: 0 auto;
                    background-color: white;
                    filter: blur(40px);
                    transition: all .5s;
                    opacity: .8;
                }
                &:hover img {
                    opacity: 1;
                }
                &:hover:before {
                    width: 60vw;
                    height: 23vw;
                    margin-top: -2.3vw;
                    opacity: .95;
                }
                .vc_single_image-wrapper {
                    position: relative;
                    padding: 1.4vw;
                    img {
                        height: auto;
                        width: 40vw;
                    }
                }

            }
        }}
    section#mission {
        #mission-statement h6 {
            font-size: 1.8em !important;
        }}
    section#mission-2 {
        .subheader {
            background-color: transparent !important;
            .icon-image {
                @include size(calc(2vw + 1.8em));
                padding: 20px;
                // border: 3px solid lighten($red, 5);
                border-radius: 50%;
                background: #fff;
            }
            .section-title {
                color: lighten($red, 5) !important;
                padding: 1rem !important;
            }
        }}
    section#pioniere {
        .first-word {
            color: $red;
            font-weight: bold;
        }
        .pioniere-grid {
            h3,
            .tagline,
            .pioniere-description-acf {
                font: 400 1.5em "Montserrat", sans-serif;
                text-align: center !important;
            }
            .tagline {
                &:before {
                    content: "Wir ";
                    font-weight: 600;
                    // text-transform: uppercase;
                    color: $red;
                }
            }
            h3 {
                color: $red;
                font-weight: 500;
                text-transform: none;
            }
            .pioniere-description-acf {
                &:after {
                  content: "\:";
                }
                margin-bottom: 0.5em;
            }
            .vc_col-sm-3 {
                @include media("screen", "to-md") {
                    width: 50%;
                }
            }
            .wpb_single_image {
                // margin: 1em !important;
                @include media("screen", "from-md", "to-lg") {
                    margin: 0 !important;
                }
            }
        }}
    section#rebsorten {
        #logo-description {
            opacity: .8;
            transform: scale(0.8);
            margin: -3em 0 0 0em !important;
            h2 {
                display: inline-block;
                height: 1em;
                line-height: 3.5;
            }
            .vc_gitem-acf {
                display: inline-block;
            }
        }
    }
    section#testimonials .owl-item p {
        //
        font-size: 16px;
        }
    section#partner {
        .vc_grid-item {
            h3 {
                font-size: 1.5em;
                color: #fff;
                text-shadow: 0 0 2px #000;
            }
        }}
    section#counter {
        padding: 6em 0 15em;
        img.icon-image {
          max-width: 67px;
        }}
    section#blog {
        .section-title {
            padding-bottom: 0 !important;
        }
    }

}


// Header

$logo-size: 300px;
$logo-shrink-size: 90px;

$tdelay: 400ms;
$tduration: 200ms;


footer,
.hentry,
.page-title,
.entry-content section,
.entry-content section > * {
    transition: all .2s ease-out;
    .show-menu & {
        filter: blur(6px);
        transform: scale(0.95);
        transition: filter $tduration cubic-bezier(0, -1, 1, 2) $tdelay,
                    transform $tduration ease-in-out;
    }
}

.shrink-nav {
    display: block !important;
    background-color: transparentize(#fff, .05);
}
.logo {
    max-width: $logo-size !important;
    .shrink-nav  & {
        max-width: $logo-shrink-size !important;
        margin: 0;
    }
}
.sticky-nav .logo-light {
    width: $logo-size;
}
.shrink-nav .logo-dark {
    max-width: $logo-shrink-size;
}

.nav-container {
    justify-content: space-between;
    .shrink-nav & {
        height: 70px;
        > .nav-item {
            transform: scale(0.7);
        }
    }
    .nav-item {
        z-index: 100;
    }
    .menu-wrap {
        display: block;
        z-index: 99;
        top: 0;
        padding-top: 120px;
        opacity: 1;
        background-color: transparentize(#000, .33) !important;
        filter: blur(3px);
        transform: translateY(-100%);
        transition: transform $tduration ease-in-out,
                    background-color $tduration ease-in-out,
                    filter $tduration cubic-bezier(0, -1, 1, 2) $tdelay ;
        .show-menu & {
            transform: translateY(0);
            filter: none;
            background-color: transparentize(#000, .33) !important;
        }
        .shrink-nav & {
            background-color: transparentize(#fff, .33) !important;
        }
        .nav {
            @include center(xy);
            padding: 0;
            li {
                border: 0 !important;
                padding: 0;
                a.inner-link {
                    display: block;
                    padding: 7px;
                    color: #fff;
                    text-align: center !important;
                    line-height: 1 !important;
                    &:hover {
                        background: transparentize(#fff, .9) !important;
                    }
                    .shrink-nav & {
                        color: #000 !important;
                        &:hover {
                            background: transparentize(#000, .9) !important;
                        }
                    }
                }
            }
        }
        #close-button {
            display: none;
        }
    }
    .top-burger {
        .shrink-nav & {
            margin-left: -1em;
        }
    }
    .top-logo {
        margin: 0 auto;
        padding-top: 8px;
        .shrink-nav & {
            padding-top: 0;
        }
    }
    .top-search {
        position: relative;
        &:hover {
            background: transparentize(#000, .7);
        }
        .shrink-nav & {
            margin-right: -1em;
        }
        .header-search-form {
            @include size(100%);
            display: block;
            .search-button {
                @include center(xy);
                font-size: 2em;
                &:hover {
                    color: #fff;
                }
            }
        }
        #top-search {
            margin-left: 0 !important;
        }
    }
}


// Hamburger Menu

$burger-size: 100px;
$BS: $burger-size;
$bun-size: ($BS / 25);
$bs: $bun-size;
$bun-margin: ($BS / 10);
$bun-offset-top: ((((-$bs * 3) + (-$bun-margin * 4)) + $BS) / 2);
$bun-offset-left: ($BS / 4) ;
$cross-offset: ($BS / 2 - $bs / 2);

$burger-duration: 200ms;
$BD: $burger-duration;
$rare:       ($BD *  .5);
$mediumrare: ($BD * 1.5);
$medium:     ($BD * 2  );
$mediumwell: ($BD * 2.5);
$welldone:   ($BD * 3  );

#menu-toggle,
#top-search {
   position: relative;
   @include size($BS);
   margin: 0;
   padding: 0;
   cursor: pointer;
}

#menu-toggle {
    * {
        box-sizing: border-box;
        transition: $BD ease-in-out;
        transition-property: width, height;
    }
    span {
        display: block;
        background: #fff;
        .shrink-nav & { background: #000; }
    }
    &:hover { background: transparentize(#000, .7); }
    #hamburger {
        position: absolute;
        @include size(100%);
        span {
            @include position(relative, $bun-offset-top NULL NULL $bun-offset-left);
            @include size(($BS / 2) $bs);
            margin: $bun-margin 0;
            &:nth-child(1) { transition-delay: $medium; }
            &:nth-child(2) { transition-delay: $mediumwell; }
            &:nth-child(3) { transition-delay: $welldone; }
            .open & {
                width: 0%;
                &:nth-child(1) { transition-delay: 0s; }
                &:nth-child(2) { transition-delay: $rare; }
                &:nth-child(3) { transition-delay: $BD; }
            }
        }
    }
    #cross {
        position: absolute;
        @include size(100%);
        transform: rotate(45deg) scale(.666);
        span {
            &:nth-child(1) {
                @include position(absolute, 10% null null $cross-offset);
                @include size(($bs / .666) 0%);
                transition-delay: 0s;
                .open & {
                    height: 80%;
                    transition-delay: $mediumwell;
                }
            }
            &:nth-child(2) {
                @include position(absolute, $cross-offset null null 10%);
                @include size(0% ($bs / .666));
                transition-delay: $BD;
                .open & {
                    width: 80%;
                    transition-delay: $mediumrare;
                }
            }
        }
    }
}


// Slider

.opacity-medium {
    opacity: .5;
}

.slider-typography {
    color: #fff;
    text-shadow: 0 0 3px #000;
    .slider-text-middle-main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slider-text-middle {
        position: absolute;
        top: 100px;
        height: calc(100vh - 200px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // background: url(/wp-content/uploads/2017/09/logo-hr-white.svg) no-repeat center 300px;
        // &:before {
        //     content: "";
        //     display: block;
        //     width: 250px;
        //     height: 250px;
        //     background: white url(/wp-content/uploads/2017/08/logo-hr.svg) no-repeat;
        //     background-size: 100%;
        //     margin: 0 auto;
        //     border: 2em solid;
        // }
        &:before {
            // @include transform(translateX(-50%));
            // @include position(absolute, 50px auto NULL 50%);
            content: "";
            display: none;
            @include size(125px);
            background: url(i/logo-hr-white.svg) no-repeat;
            background-size: 100%;
            margin: 30px auto auto;

        }
        h1 {
            margin: 0 0 2em !important;
            span {
                font-size: 3em;
                // color: #ff2525;
            }
        }
        a {
            background: #dd3333;
            color: white
            ;
        }
    }
}

//
// Home
//


.animated-tab4 {
    .tab-content p {
        font-size: 1.4em !important;
        line-height: 1.7;
    }
    ul.nav-tabs {
        margin-left: 6.6em;
    }
}

.team-member {
    max-width: 350px;
    margin: 0 auto;
    img {
        filter: grayscale(100%);
    }
}

// Rebsorten Grid

.vc_basic_grid .vc_grid.vc_row .vc_grid-item.vc_visible-item, .vc_media_grid .vc_grid.vc_row .vc_grid-item.vc_visible-item {
    display: inline-block !important;
}

.custom-post-grid {
    &.vc_col-sm-3 {
        @include media("screen", "from-md", "to-lg") {
                width: 33%;
        }
        @include media("screen", "from-sm", "to-md") {
                width: 50%;
        }
        @include media("screen", "to-sm") {
                width: 50%;
        }
    }
    .vc-gitem-zone-height-mode-auto:before {
      display: inline !important;
    }
    // Container
    .vc_grid-item-mini {
        border: 1px solid #eee;
    }
    .NORMAL-STATE,
    .HOVER-STATE {
        background-size: 0% !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
        .vc_gitem-zone-img {                // Wasserzeichen
            width: 85% !important;
            display: block !important;
            visibility: visible;
            position: absolute;
            opacity: .08;
        }
    }
    .NORMAL-STATE {
        .vc_gitem-zone-mini {
            width: 200%;
            padding: 0;
            .vc_gitem-row-position-top {
                position: inherit;
                .vc_gitem-col {
                    padding: 0;
                }
                .vc_custom_heading {
                    max-width: 87%;
                    padding: 0 0 1em;
                    margin: -3em 3em     1em;
                    @include media("screen", "to-sm") {
                        padding: 0 0 1vw !important;
                        margin: -5vw auto 1vw;
                    }
                    h2 {                    // Bezeichnung
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        min-height: 2.2em;
                        font-size: 1.9em;
                        letter-spacing: -0.6px;
                        text-transform: capitalize;
                        font-family: Lora;
                        @include media("screen", "to-md") {
                            font-size: 2.4em;
                            line-height: 1.1;
                        }
                        @include media("screen", "to-sm") {
                            font-size: 5vw;
                        }
                    }
                }
                .vc_gitem-acf {             // Fundnummer
                    color: #dd3333;
                    font-family: "Open Sans", "Montserrat", sans-serif;
                    font-size: 2.6em;
                    @include media("screen", "to-md") {
                        font-size: 3.2em;
                        line-height: 1;
                    }
                    @include media("screen", "to-sm") {
                        font-size: 7vw;
                    }
                }
            }
        }
    }
    .HOVER-STATE {
        &.vc_gitem-zone {
          padding: 1em;
        }
        .modal-link {
            margin-bottom: 0;
            a {
                // border: 1px solid transparent;
                font-family: "Montserrat", sans-serif;
            }
        }
    }
}

// Rebsorten Custom Post Template

// .margin-tb-30px {
//     width: 400px;
//     float: left;
//     margin-right: 3em;
// }

// .parallax-fix {
//     background-size: contain !important;
// }

.custom-post-header {
    margin-bottom: 1em;
    .flex-container {
        height: 400px;
        flex-direction: column;
        .watermark {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            img {
                width: 100%;
                max-width: 400px;
                padding: 2em;
                opacity: .08;
                -webkit-user-select: none;
                user-select: none;
                pointer-events: none;
            }
        }
        .rebsorte-title {
            padding: 0 1em .25em;
            border-bottom: 3px solid #dd3333;
            margin-bottom: .1em;
            @include brand-title(3em);
        }
        .ursprungsnummer-title  {
            @include brand-nr(3em);
        }
    }
    .rebsorte-featured-image {
        text-align: center;
    }
}

.rebsorte-featured-image-thumb {
    float: right;
    padding: 2px;
    border: 1px solid #dadada;
    margin: 0 1em 1em;
    img {
        width: 200px;
        height: 200px;
    }
}

.view-pdf {
    position: relative;
    display: inline-block;
    border: 1px solid #dadada;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    width: 150px;
    float: none;

    img {
        @include filter(blur(2px));
        @include transition(filter .5s ease);
    }
    &:after {
        @include font-awesome("");
        @include coverer(50%);
        @include transition(all .5s ease);
        font-size: 7em;
        line-height: 0;
        color: #d33;
        pointer-events: none;
    }
    &:hover {
        &:after {
            content: "";
            opacity: 0.5;
            // font-size: 13em;
        }
        img {
            @include filter(none);
        }
    }
}

p.wein-vorhanden i {
    font-size: 4em;
    display: block;
    margin-bottom: 10px;
}

// Reveal Modal

body.modal-open {
    > nav,
    > footer,
    > section {
        filter: blur(10px);
        pointer-events: none;
    }
}

.modal-wrapper {
    z-index: 1032;
}
    .modal {
        position: relative;
        padding: 2rem;
        background-color: transparent;
        .modal-open & {
            background-color: rgba(0, 0, 0, .75);
        }
        color: #fff !important;
        box-shadow: none;
        transition: background-color 1s ease;
        .close-modal {
            float: right;
            font: 100 5em/0.5 "Montserrat", sans-serif !important;
            color: #fff;
            cursor: pointer;
        }
        #modal-content {
            clear: right;
            .custom-post-header {
                .watermark img {
                    padding: 0;
                    max-width: 350px;
                    filter: invert(1);
                    opacity: .12;
                }
                .rebsorte-title {
                    color: #fff;
                }
            }
            h1, h2, h3, h4 {
                color: #fff;
                margin-bottom: .5em;
            }
            h1 {
                font-size: 2em;
            }
            blockquote {
                padding-left: 1em;
                font-size: 1.7em;
            }
            // .rebsorte-featured-image-thumb {
            //     pointer-events: none;
            // }
        }
        .modal-small & {
            @include center(xy);
            padding: 1rem;
            #modal-content {
                padding: 2em;
            }
        }


        // .next-post-reveal-nav,
        // .prev-post-reveal-nav {
        //     text-indent: 9999em;
        //     &:after {
        //         position: absolute;
        //         top: 0;
        //         text-indent: 0;
        //     }
        // }
        // .next-post-reveal-nav {
        //     &:after {
        //        @include font-awesome("");
        //     }
        //     right: 10px;
        // }
        // .prev-post-reveal-nav {
        //     &:after {
        //         @include font-awesome("");
        //     }
        //     left: 14px;
        // }
    }
