.single, .archive {
   > footer {
    margin-top: 10em;
  }
}

.fb-link-footer {
  color: $facebook-color;
  a {
    padding-left: 4px;
  }
}

footer {
  h6,
  .small-icon {
    font-size: 120%;
    font-weight: 300;
  }
  .footer-top {
    border-top: 1px solid hsl(0, 0%, 90%);
  }
  .footer-bottom {
    .row {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
    .footer-logo {
      img {
        max-width: 300px;
        margin: 1rem;
      }
    }
  }
  .footer-position {
    width: 100%;
    text-align: center;
  }
}

.scrollToTop {
  @include position(fixed, 91% 1.5rem NULL NULL);
  @include size(auto);
  z-index: 555;
  display: none;
  padding: .2rem .5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  background-color: hsla(0, 0%, 0%, 0.3);
  transition: background-color .5s;
  i { color: #fff; }
  &:hover {
    background-color: hsla(0, 0%, 0%, 0.6);
  }
}
