// =============================================================================
//   Header Layout
// =============================================================================

// wortmarke
$logo-width: 350px;
$logo-height: 100px;
$retina-logo-width: 200px;
$retina-logo-height: 70px;

// logo below header
$logo-size: 150px;

// nav-items
$navbutton-offset: -0.6em;
$nav-scale-shrunk:  0.8;
$nav-scale-retina:  0.6;

// transitions
$tdelay: 500ms;
$tduration: 600ms;
$teasing: $ease-out-cubic;

// svg fill
$logo-dark-fill: #1A171B;
$logo-light-fill: #fff;

//

.navbar-default {
  @include transition(all $tduration $teasing);
  background-color: transparentize(#fff, 1);
}
  .nav-container {
    height: 120px;
    align-items: center;
    justify-content: space-between;
    @include transition(height $tduration $teasing);
    @include media("from-xs-dev", "to-md-dev", "retina") { // iPhone
      height: 60px !important;
      margin: 0 auto;
      align-items: center;
    }
    .nav-item {
      margin-top: -1em;
      @include transition(all $tduration $teasing);
      @include media("from-xs-dev", "to-md-dev", "retina") { // iPhone
        transform: scale($nav-scale-retina) !important;
      }
    }
    .top-logo {
      z-index: 1099;
      margin: 0 auto;
      padding-top: 10px;
      .svg-logo {
        width: $logo-width;
        max-height: $logo-height;

        @include media("retina") { // retina logo
          margin-top: 1em;
          width: $retina-logo-width;
          max-height: $retina-logo-height;
          .shrink-nav & { margin-top: 0; }
        }
        path {
          @include transition(800ms $teasing);
          transition-property: fill, stroke;
        }
        .shrink_fill-dark { fill: $logo-light-fill;
          .shrink-nav &   { fill: $logo-dark-fill; } }
        .shrink_both-dark { fill: $logo-light-fill;
                          stroke: $logo-light-fill;
          .shrink-nav & {   fill: $logo-dark-fill;
                          stroke: $logo-dark-fill; } } }
      .logo-after {
        @include center(x);
        transition: all $tduration $teasing;
        .shrink_fill-dark { fill: $logo-light-fill; }
        .shrink_both-light {fill: transparent;
                          stroke: transparent; }
        svg {// retina logo
          @include media("retina") { max-height: 100px; }
        }
      }
    }
    .top-burger {
      z-index: 1099;
      @include media("from-xs-dev", "to-md-dev", "retina") { // iPhone
                        margin: 1em 0 0 -0.75em !important;
        .shrink-nav & { margin: 0 0 0 -1.25em !important; }
      }
    }
    .top-search {
      #top-search { margin: 0 !important; }
      @include media("from-xs-dev", "to-md-dev", "retina") { // iPhone
                        margin: 1em -0.75em 0 0 !important;
        .shrink-nav & { margin: 0   -1.25em 0 0 !important; } }
      &:hover { background: transparentize(#000, .7); }
      .header-search-form { // search button
        @include size(100%);
        display: block;
        .search-button {
          @include center(xy);
          font-size: 2em;
          &:hover { color: #fff; }
        }
      }
      .overflow-hidden & {
        .search-button {
          @include position(fixed, NULL 0.5em NULL auto);
          z-index: 9999;
        }
      }
    }
    .menu-wrap {
      @include position(fixed, 0);
      display: block;
      z-index: 99;
      padding-top: 220px !important;
      background-color: transparentize(#000, .33) !important;
      opacity: 0 !important;
      pointer-events: none;
      // transform: translateY(-100%);
      transition: opacity $tduration $ease-in-sine,
                  transform $tduration .2s $ease-in-expo;
      // .show-menu & {
      //   transform: translateY(0%);
      //   -webkit-backdrop-filter: blur(30px);
      //   opacity: 1 !important;
      // }
      // @include filter(blur(4px));
      // @include media("screen", "from-sm") {
        // transform: translate(-100vw);
        // transition: transform $tduration $teasing,
        //             background-color $tduration $teasing,
        //             filter $tduration cubic-bezier(0, -1, 1, 2) $tdelay ;
        transform: translateY(-200%) scale3D(50, 50, 1);
        .show-menu & {
          transform: translateY(-10%) scale3D(1.2, 1.2, 1);
          pointer-events: all;
          // transition: opacity $tduration .1s $ease-in-sine,
          //             transform $tduration  $ease-out-expo;
          -webkit-backdrop-filter: blur(30px);
          opacity: 1 !important;
          // transform: translate(0);
        // }
      }
      .nav {
        @include center(xy);
        padding: 0;
        li {
          border: 0 !important;
          padding: 0;
          a.inner-link {
            display: block;
            padding: 7px;
            color: #fff;
            text-align: center !important;
            text-transform: uppercase !important;
            line-height: 1 !important;
            transition: color $tduration $teasing;
            &:hover {
              background: transparentize(#fff, .9) !important;
            }
            .shrink-nav & { color: #000 !important;
              &:hover { background: transparentize(#000, .9) !important; }
            }
          }
        }
      }
      #close-button {
        display: none;
      }
    }
  }

.shrink-nav {
  box-shadow: 0px 2px 10px transparentize(#000, .85);
  background-color: transparentize(#fff, 0);
  opacity: .93;
  .has_backdropfilter & {
    -webkit-backdrop-filter: blur(30px);
    background-color: transparentize(#fff, 0.4);
    opacity: 1;
  }
  .nav-container {
    height: 80px;
    padding-top: 0;
    .nav-item {
      margin-top: 0;
      transform: scale($nav-scale-shrunk);  // scale 0.8
    }
    .top-logo {
      .svg-logo {
        max-height: 80px;
        transform: scale(0.8) !important;
      }
      .logo-after {
        opacity: 0;
        pointer-events: none;
      }
    }
    .top-burger {
      margin-left: $navbutton-offset;
    }
    .top-search {
      margin-right: $navbutton-offset;
      transform: scale($nav-scale-shrunk);
    }
    .menu-wrap {
      background-color: transparentize(#fff, .33) !important;
    }
  }
}

//

.mfp-bg {
  pointer-events: none;
  display: none;
}
.mfp-wrap {
  z-index: 1050;
  background: rgba(255, 255, 255, 0.9);
  #search-header {
    .mfp-close {
      // display: none !important;
      z-index: 1046;
      // opacity: 0;
      @include position(absolute, 0.75em 0.75em NULL NULL);
      &:hover {
        background: transparentize(#f00, 0.5) !important;
      }
    }
  }
}




