// =============================================================================
//   Header Layout
// =============================================================================

  // ===========================================================================
  // Variables

  $header-height: 75px;

  // 75px / (75 / 100) = 100px
  $logo-height: ($header-height / ( strip-unit($header-height) / 100) );
  $logo-width: ($logo-height * 3.5);
  $mobile-logo-height: ($logo-height * 0.5);
  $mobile-logo-width: ($logo-width * 0.5);
  $header-logo-offset: 30px;

  // transitions
  $header-transition-duration: 200ms;
  $header-transition-easing: cubic-bezier(0.66, 0, 0.33, 1);
  $htd: $header-transition-duration;
  $hte: $header-transition-easing;
  // svg fill
  $dark-fill: $text-color;
  $light-fill: #fff;
  // z-index
  $z-index-header: 1090;

.navbar-default {
  z-index: $z-index-header;
  height: 75px;
  transition: box-shadow 0s 0s;
  &::after {
    position: relative;
    top: -75px;
    height: 75px;
    display: block;
    margin: 0 auto;
    z-index: ($z-index-header - 10);
    will-change: transform;
    -webkit-transition-property: width, transform-origin, transform, background-color;
    transition: {
      timing-function: linear, $hte , $hte, ease;
      property: width, transform-origin, transform, background-color;
      duration: $htd, $htd, $htd, ($htd / 4);
      delay: $htd, 0s, 0s, ($htd * 0.75);
    }
    width: $logo-width;
    transform-origin: center $logo-height;
    @include transform(rotateX(89.5deg));
    // transform: rotateX(88.47deg) translateX(-50%);
    background-color: $red;
    @include media("to-sm") {  // simple header transition on mobile
      width: $mobile-logo-width;
      transition: {
        timing-function: $hte, $hte, cubic-bezier(0.25, 0.45, 0.45, 0.95);
        duration: 0s, $htd, $htd, $htd;
        delay: $htd, 0s, 0s, ($htd * 2);
      }
      transform-origin: center top 53px;
    }
  }
  &.shrink-nav {
    box-shadow: 0px 2px 10px black(0.15);
    transition-delay: ($htd * 3);
    &::after {
      @include media("to-sm") {
        transition-delay: 0s, ($htd / 2), ($htd / 2), 0s !important;
        transform-origin: center top 0 !important;
      }
      transition: {
        duration: ($htd * 1.5), $htd, ($htd * 2.5), ($htd / 2);
        delay:  ($htd / 2), 0s, ($htd / 2), $htd;
      }
      width: 100%;
      transform-origin: center 56px;
      @include transform(rotateX(0deg));
      // transform: rotateX(0deg)  translateX(-50%);
      background-color: #fff;
      opacity: 0.92;

      .has_backdropfilter & {
        background-color: white(0.8) !important;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        opacity: 1;
      }
    }
  }
}

.nav-container {
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-height: $header-height;
  .nav-item {
    z-index: $z-index-header;
  }
  .top-logo {
    z-index: $z-index-header;
    margin: 0 auto;
    .logo-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: visible;
    }
    .wortmarke-header {
      @include size(auto $logo-height);
      transform: scale(1) translate(0, $header-logo-offset);
      @include media("to-sm") {
        @include size($mobile-logo-width $mobile-logo-height);
        transform: scale(1) translate(0, 0px);
      }
      body.safari & {
        transform: scale3d(1,1,1) translate(0, $header-logo-offset);
        @include media("to-sm") {
          transform: scale3d(1,1,1) translate(0 ,0px);
        }
      }
      .shrink-nav & {
        transform: scale(0.6) translate(0 ,0px);
        body.safari & {
          transform: scale3d(0.6,0.6,0.6) translate(0 ,0px);
        }
        @include media("to-sm") {
          transform: scale(1) translate(0 ,0px);
          body.safari & {
            transform: scale3d(1,1,1) translate(0 ,0px);
          }
        }
      }
      .images-loaded & {
        transition: transform $htd $hte;
      }
      path {
        .images-loaded & {
          @include transition( all ($htd * 2) ($htd / 2) ease);
          // transition-property: fill, stroke;
        }
        .shrink-nav & {
          transition-duration: $htd;
          transition-delay: $htd;
          @include media("to-sm") {
            transition-delay: 0s;
          }
        }
      }
      path.shrink_fill-dark    { fill: $light-fill;
        .shrink-nav &,
        .mfp-search-open & { fill: $dark-fill; } 
      }
      path.shrink_both-dark    { fill: $light-fill;
                           stroke: $light-fill;
        .shrink-nav &,
        .mfp-search-open & { fill: $dark-fill;
                           stroke: $dark-fill; } 
      } 
    }
    .logo-header {
      position: absolute;
      margin-top: ($header-height * 2);
      fill: #fff;
      stroke: white(0.5);
      filter: none !important;
      opacity: 1;
      transform-origin: center bottom;
      transform: scale(1);
      transition: transform ($htd * 2) $ease-out-cubic,
                  opacity ($htd * 2) $ease-out-cubic;
      .draw-frame {
        display: none;
      }
      body.safari & {
        left: 50%;
        transform-origin: left bottom;
        transform: scale3d(1,1,1) translateX(-50%);
      }
      .shrink-nav & {
        opacity: 0;
        pointer-events: none;
        transform: scale(0.8);
        transform-origin: center top;
        body.safari & {
          transform: scale3d(0.8,0.8,0.8) translateX(-50%);
          transform-origin: left top;
        }
      }
      @include media("to-sm") {
        margin-top: $mobile-logo-height;
        width: 120px;
      }
      .mfp-search-open &,
      .show-menu & { 
        opacity: 0; 
      }
      .archive & { display: none; }
    }
  }
  .top-burger { 
    position: relative;
    .mfp-search-open & { opacity: 0; }
  }
  .top-search {
    #top-search {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.8em 0 0 0.8em !important;
      margin: 0;
      float: none;
    }
    &:hover { background: black(0.3); }
    .mfp-search-open & {
      .search-button {
        z-index: 1090;
      }
    } 
  }
  .menu-wrap {
    @include position(fixed, 0);
    @include size(100%);
    display: block;
    z-index: 99;
    padding-top: 220px;
    overflow: auto;
    opacity: 0;
    background-color: transparentize(#999, .1) !important;
    pointer-events: none;
    transform: scale(0.7) translateY(-0%);
    transition: opacity .5s 0s $ease-out-cubic,
                transform 1s $ease-out-quint,
                background-color $htd .5s $hte;
    .show-menu & {
      transform: scale(1) translateY(0%);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      opacity: 1 !important;
      pointer-events: all;
    }
    .show-menu.shrink-nav & {
      background-color: white(0.7) !important;
      transition-delay: .3s, 0s, 0s;
    }
    .nav {
      @include center(xy);
      padding: 0;
      li {
        border: 0 !important;
        padding: 0;
        float: none;
        > a,
        a.inner-link {
          display: block !important;
          padding: 7px;
          color: #fff;
          text-align: center !important;
          text-transform: uppercase !important;
          line-height: 1.6 !important;
          letter-spacing: -0.01rem;
          body.show-menu & {
            transition: color $htd $ease-in-sine;
          }
          @include media("screen", "to-md-devX") {
            font-size: 1.4rem;
          }
          &:hover {
            background: white(0.1) !important;
          }
          .shrink-nav & { color: #000 !important;
            &:hover { background: black(0.1) !important; }
          }
        }
      }
      .megamenu-right-icon .fa {
        color: #fff !important;
      }
    }
    #close-button { display: none; }
  }
}
