// Header

// wortmarke
$logo-width: 350px;
$retina-logo-width: 175px;

// logo below header
$logo-size: 150px;

$tdelay: 200ms;
$tduration: 600ms;
$teasing: $ease-out-cubic;

$logo-dark-fill: #1A171B;
$logo-light-fill: #fff;

// body {
//     perspective: 2000px;
// }

footer,
.page-title,
.entry-content div > section > *,
.entry-content div > section {
    transition: all .2s $teasing;
    // perspective: 500px;
    .show-menu & {
        @include filter(blur(3px));
        // transform: scale(0.9);
        transform: rotateY(4deg) scale(.96);
        transition: filter $tduration cubic-bezier(0, -1, 1, 2) $tdelay,
                    transform $tduration $teasing;
    }
}
.navbar-default {
    display: block !important;
    @include transition(all $tduration $teasing);
    background-color: transparentize(#fff, 1);
    &.shrink-nav {
        box-shadow: 0px 2px 10px transparentize(#000, .85);
        background-color: transparentize(#fff, 0);
        opacity: .93;
    }
}
.nav-container {
    height: 120px;
    align-items: flex-start;

    .shrink-nav & {
        height: 80px;
        align-items: center;
        @include media("to-md") {
            height: 60px;
        }
    }
    @include media("from-xs-dev", "to-md-dev", "retina") {
        height: 60px !important;
        align-items: center;
        .nav-item {
            transform: scale(0.7) !important;
            // position: absolute;

            // &.top-burger {  left:  -5%; }
            // &.top-search { right: -42%; }
            &.top-logo {
                transform: none !important;
                .logo-after {
                    // transform: scale(0.66);

                }
            }
        }
    }
    @include transition(height $tduration $teasing);
    .nav-item {
        z-index: 100;
        @include transition(all $tduration $teasing);
        .shrink-nav & {
            transform: scale(0.8);
            @include media("to-md") {
                transform: scale(0.6);
            }
        }

    }
    .top-logo {
        margin: 0 auto;
        padding-top: 10px;
        svg path {
            @include transition($tduration $teasing);
            transition-property: fill, stroke;
        }
        .shrink_fill-dark {
            fill: $logo-light-fill;
            .shrink-nav & {
                fill: $logo-dark-fill;
            }
        }
        .svg-logo {
            width: $logo-width;
            max-width: $logo-width !important;
            max-height: 100px;
            @include media("from-xs-dev", "to-md-dev", "retina") {
               width: $retina-logo-width;
            }
            .shrink_both-dark {
                fill: $logo-light-fill;
                stroke: $logo-light-fill;
                .shrink-nav & {
                    fill: $logo-dark-fill;
                    stroke: $logo-dark-fill;
                }
            }
            .shrink-nav & {
                max-height: 80px;
            }
        }
        .logo-after {
            @include center(x);
            margin-top: 8px;
            .shrink-nav & {
                margin-top: -1px;
                filter: drop-shadow(0px -25px 15px rgba(0, 0, 0, 0.3));
                clip-path: inset(1% -100% -2% -100%);
                @include media("from-xxs-dev","to-md-dev") {
                    transform: scale(0.8) !important;
                    transform-origin: -200% top !important;
                }
            }
            .shrink_both-light {
                fill: transparent;
                stroke: transparent;
                .shrink-nav & {
                    fill: $logo-light-fill;
                    stroke: $logo-light-fill;
                }
            }
            // border-top: 10px solid #fff;
        }
    }
    .top-burger {
        .shrink-nav & {
            margin-left: -1em;
        }
    }
    .top-search {
        position: relative;
        &:hover {
            background: transparentize(#000, .7);
        }
        .shrink-nav & {
            margin-right: -1em;
        }
        .header-search-form {
            @include size(100%);
            display: block;
            .search-button {
                @include center(xy);
                font-size: 2em;
                &:hover {
                    color: #fff;
                }
            }
        }
        #top-search {
            margin-left: 0 !important;
        }
    }
    .menu-wrap {
        display: block;
        z-index: 99;
        top: 0;
        padding-top: 220px;
        opacity: 1;
        background-color: transparentize(#000, .33);
        @include filter(blur(4px));
        transform: translateY(-100%);
        transition: transform $tduration $teasing,
                    background-color $tduration $teasing,
                    filter $tduration cubic-bezier(0, -1, 1, 2) $tdelay ;
        .show-menu & {
            transform: translateY(0);
            @include filter(none);
            background-color: transparentize(#000, .33) !important;
        }
        .shrink-nav & {
            background-color: transparentize(#fff, .33) !important;
        }
        .nav {
            @include center(xy);
            padding: 0;
            li {
                border: 0 !important;
                padding: 0;
                a.inner-link {
                    display: block;
                    padding: 7px;
                    color: #fff;
                    text-align: center !important;
                    line-height: 1 !important;
                    transition: color $tduration $teasing;
                    &:hover {
                        background: transparentize(#fff, .9) !important;
                    }
                    .shrink-nav & {
                        color: #000 !important;
                        &:hover {
                            background: transparentize(#000, .9) !important;
                        }
                    }
                }
            }
        }
        #close-button {
            display: none;
        }
    }
}