// Header

// wortmarke
$logo-width: 350px;
$retina-logo-width: 250px;

// logo below header
$logo-size: 150px;

$tdelay: 300ms;
$tduration: 600ms;
$teasing: $ease-out-cubic;

$logo-dark-fill: #1A171B;
$logo-light-fill: #fff;


.navbar-default {
    body.overflow-hidden & { // search popup active
        z-index: 1049;
    }
    display: block !important;
    @include transition(all $tduration $teasing);
    background-color: transparentize(#fff, 1);
    &.shrink-nav {
        box-shadow: 0px 2px 10px transparentize(#000, .85);
        background-color: transparentize(#fff, 0);
        opacity: .93;
        .has_backdropfilter & {
            -webkit-backdrop-filter: blur(30px);
            background-color: transparentize(#fff, 0.4);
            opacity: 1;
        }
    }
}
.nav-container {
    height: 120px;
    align-items: center;
    justify-content: space-around;
    .shrink-nav & {
        height: 80px;
        align-items: center;
        padding-top: 0;
    }
    @include media("from-xs-dev", "to-md-dev", "retina") {
        height: 60px !important;
        margin: 0 auto;
        align-items: center;
    }
    @include transition(height $tduration $teasing);
    .nav-item {
        z-index: 9000;
        @include transition(all $tduration $teasing);
    }
    .top-logo {
        margin: 0 auto;
        padding-top: 10px;
        svg path {
            @include transition(800ms $teasing);
            transition-property: fill, stroke;
        }
        .shrink_fill-dark {
            fill: $logo-light-fill;
            .shrink-nav & {
                fill: $logo-dark-fill;
            }
        }
        .svg-logo {
            width: $logo-width;
            max-height: 100px;
            @include media("retina") {
                margin-top: 1em;
                width: 200px;
                max-height: 70px;
                .shrink-nav & {
                    margin-top: 0;
               }
            }
            .shrink_both-dark {
                fill: $logo-light-fill;
                stroke: $logo-light-fill;
                .shrink-nav & {
                    fill: $logo-dark-fill;
                    stroke: $logo-dark-fill;
                }
            }
            .shrink-nav & {
                max-height: 80px;
                transform: scale(0.8) !important;
            }
        }
        .logo-after {
            @include center(x);
            transition: all .5s ease-in-out;
            .shrink-nav & {
                margin-top: -1px;
                opacity: 0;
                pointer-events: none;

            }
            .shrink_fill-dark {
                fill: #fff;
            }
            .shrink_both-light {
                fill: transparent;
                stroke: transparent;
            }
            svg {
                @include media("retina") {
                    max-height: 100px;
                }
            }
        }
    }
    .top-burger {
        left: 0;
        .shrink-nav & {
            margin-left: -0.6em;
            transform: scale(0.8);
        }
        @include media("from-xs-dev", "to-md-dev", "retina") {
            margin: 1em 0 0 -0.75em !important;
            transform: scale(0.6) !important;
            .shrink-nav & {
                margin: 0 0 0 -1.25em !important;
            }
        }
    }
    .top-search {
        right: 0;
        &:hover {
            background: transparentize(#000, .7);
        }
        .shrink-nav & {
            margin-right: -0.6em;
            transform: scale(0.8);
        }
        @include media("from-xs-dev", "to-md-dev", "retina") {
            margin: 1em -0.75em 0 0 !important;
            transform: scale(0.6) !important;
            .shrink-nav & {
                margin: 0 -1.25em 0 0 !important;
            }
        }
        .header-search-form {
            @include size(100%);
            display: block;
            .search-button {
                @include center(xy);
                font-size: 2em;
                &:hover {
                    color: #fff;
                }
            }
        }
        #top-search {
            margin-left: 0 !important;
        }
        .overflow-hidden & {
            .search-button {
                // color: #000;
                position: fixed;
                z-index: 9999;
                right: .5em;
                top: 1.5em;
                left: auto;
            }
        }
    }
    .menu-wrap {
        display: block;
        z-index: 99;
        top: 0;
        padding-top: 220px;
        opacity: 1;
        background-color: transparentize(#000, .33);
        transform: translate(-100%);
        transition: transform $tduration $teasing;
        .show-menu & {
            transform: translate(0);
            background-color: transparentize(#000, .33) !important;
            -webkit-backdrop-filter: blur(30px);
        }
        // @include filter(blur(4px));
        @include media("screen", "from-sm") {
            transform: translateY(-600%) scale3D(255, 255, 1);
            opacity: 0;
            pointer-events: none;
            // transform: translate(-100vw);
            transition: transform $tduration $teasing,
                        background-color $tduration $teasing,
                        filter $tduration cubic-bezier(0, -1, 1, 2) $tdelay ;
            .show-menu & {
                transform: translateY(-10%) scale3D(1.5, 1.5, 1);
                opacity: 1;
                pointer-events: all;
                // transform: translate(0);
                background-color: transparentize(#000, .33) !important;
                -webkit-backdrop-filter: blur(30px);
            }
        }
        .shrink-nav & {
            background-color: transparentize(#fff, .33) !important;
        }
        .nav {
            @include center(xy);
            padding: 0;
            li {
                border: 0 !important;
                padding: 0;
                a.inner-link {
                    display: block;
                    padding: 7px;
                    color: #fff;
                    text-align: center !important;
                    text-transform: uppercase !important;
                    line-height: 1 !important;
                    transition: color $tduration $teasing;
                    &:hover {
                        background: transparentize(#fff, .9) !important;
                    }
                    .shrink-nav & {
                        color: #000 !important;
                        &:hover {
                            background: transparentize(#000, .9) !important;
                        }
                    }
                }
            }
        }
        #close-button {
            display: none;
        }
    }
}
.mfp-bg {
    pointer-events: none;
    display: none;
}
.mfp-wrap {
    z-index: 1050;
    background: rgba(255, 255, 255, 0.9);
    #search-header {
        .mfp-close {
            // display: none !important;
            z-index: 1046;
            // opacity: 0;
            @include position(absolute, 0.75em 0.75em NULL NULL);
            &:hover {
                background: transparentize(#f00, 0.5) !important;
            }
        }
    }
}
