// Slider

.opacity-medium {
    opacity: 0.66;
}

.slider-typography {
    color: #fff;
    // text-shadow: 0 0 3px #000;
    .slider-text-middle-main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slider-text-middle {
        position: absolute;
//         bottom: 5em;

        h1 {
            margin: 0 0 10% !important;
            font-size: calc(2vw + 2em);
            font-weight: 400;
            text-transform: none;
            letter-spacing: -0.04em;
            color: transparentize(#fff, .8);
            strong {
                margin: 0 .2em 0 .1em;
                font-size: .8em;
                font-weight: 500;
                color: transparentize(#fff, .1);
            }
            em {
                font-size: 0.8em;
                font-weight: 500;
                font-style: normal;
                color: #df4444;
            }
        }
        a {
            background: #df4444;
            color: white;
            display: none !important
            ;
        }
    }
}
