@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");
/* line 5, utils/_helpers.scss */
.flex-container,
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

/* line 5, base/_global.scss */
*, :after, :before {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi) {
    /* line 5, base/_global.scss */
    *, :after, :before {
      -webkit-font-smoothing: subpixel-antialiased !important; } }

/* line 13, base/_global.scss */
html,
body {
  overflow-x: hidden;
  width: 100%; }

/* line 5, base/_typography.scss */
.menu-item a,
h1, h2, h3, h4, h5, h6,
.slider-typography {
  font-family: "Montserrat", "Gotham Medium", "Proxima Nova Semibold", system-ui, sans-serif; }

/* line 12, base/_typography.scss */
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
  margin-bottom: .5em; }

/* line 30, base/_typography.scss */
.section-heading {
  margin-bottom: 4em;
  position: relative; }
  /* line 33, base/_typography.scss */
  .section-heading .subheader {
    max-width: 30em; }
    /* line 35, base/_typography.scss */
    .section-heading .subheader h2.section-title {
      padding-bottom: 0em;
      font-size: calc(3vmax + 0.7em);
      font-weight: 700;
      line-height: 1 !important;
      letter-spacing: -0.01em;
      text-transform: none;
      -webkit-font-smoothing: subpixel-antialiased !important;
      color: #d33; }
      /* line 44, base/_typography.scss */
      .section-heading .subheader h2.section-title::after {
        content: '';
        position: absolute;
        top: -35%;
        left: 5%;
        height: 150%;
        width: 150%;
        z-index: 0;
        pointer-events: none;
        background: radial-gradient(circle farthest-side at top, rgba(255, 255, 255, 0.6) 0, rgba(255, 0, 0, 0) 100%); }
    /* line 53, base/_typography.scss */
    .section-heading .subheader h6 {
      letter-spacing: 0;
      font-size: 21px;
      text-transform: none;
      line-height: 1.5; }
    /* line 59, base/_typography.scss */
    .section-heading .subheader .icon-image,
    .section-heading .subheader .medium-icon {
      max-height: 200px;
      display: none; }

/* line 69, base/_typography.scss */
blockquote {
  line-height: 1.2;
  padding: 1em;
  font-family: "Lora",serif;
  font-size: 2em;
  font-style: italic;
  quotes: "„" "“" "‚" "‘"; }
  /* line 76, base/_typography.scss */
  blockquote:before {
    content: open-quote; }
  /* line 79, base/_typography.scss */
  blockquote:after {
    content: close-quote; }

/* line 84, base/_typography.scss */
.blog-short-description {
  background-color: #fff !important; }

/* line 21, layout/_header.scss */
footer,
.page-title,
.entry-content div > section > *,
.entry-content div > section {
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1); }
  /* line 27, layout/_header.scss */
  .show-menu footer, .show-menu
  .page-title, .show-menu
  .entry-content div > section > *, .show-menu
  .entry-content div > section {
    -webkit-filter: blur(3px);
    /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: blur(3px);
    /* FF 35+ */
    transform: rotateY(4deg) scale(0.96);
    transition: filter 600ms cubic-bezier(0, -1, 1, 2) 200ms, transform 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }

/* line 35, layout/_header.scss */
.navbar-default {
  display: block !important;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: rgba(255, 255, 255, 0); }
  /* line 39, layout/_header.scss */
  .navbar-default.shrink-nav {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    background-color: white;
    opacity: .93; }

/* line 45, layout/_header.scss */
.nav-container {
  height: 120px;
  align-items: flex-start;
  -webkit-transition: height 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: height 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  /* line 49, layout/_header.scss */
  .shrink-nav .nav-container {
    height: 80px;
    align-items: center; }
    @media (max-width: 991px) {
      /* line 49, layout/_header.scss */
      .shrink-nav .nav-container {
        height: 60px; } }
  @media (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi) {
    /* line 45, layout/_header.scss */
    .nav-container {
      height: 60px !important;
      align-items: center; }
      /* line 59, layout/_header.scss */
      .nav-container .nav-item {
        transform: scale(0.7) !important; }
        /* line 65, layout/_header.scss */
        .nav-container .nav-item.top-logo {
          transform: none !important; } }
  /* line 75, layout/_header.scss */
  .nav-container .nav-item {
    z-index: 100;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }
    /* line 78, layout/_header.scss */
    .shrink-nav .nav-container .nav-item {
      transform: scale(0.8); }
      @media (max-width: 991px) {
        /* line 78, layout/_header.scss */
        .shrink-nav .nav-container .nav-item {
          transform: scale(0.6); } }
  /* line 86, layout/_header.scss */
  .nav-container .top-logo {
    margin: 0 auto;
    padding-top: 10px; }
    /* line 89, layout/_header.scss */
    .nav-container .top-logo svg path {
      -webkit-transition: 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-property: fill, stroke; }
    /* line 93, layout/_header.scss */
    .nav-container .top-logo .shrink_fill-dark {
      fill: #fff; }
      /* line 95, layout/_header.scss */
      .shrink-nav .nav-container .top-logo .shrink_fill-dark {
        fill: #1A171B; }
    /* line 99, layout/_header.scss */
    .nav-container .top-logo .svg-logo {
      width: 350px;
      max-width: 350px !important;
      max-height: 100px; }
      @media (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi) {
        /* line 99, layout/_header.scss */
        .nav-container .top-logo .svg-logo {
          width: 175px; } }
      /* line 106, layout/_header.scss */
      .nav-container .top-logo .svg-logo .shrink_both-dark {
        fill: #fff;
        stroke: #fff; }
        /* line 109, layout/_header.scss */
        .shrink-nav .nav-container .top-logo .svg-logo .shrink_both-dark {
          fill: #1A171B;
          stroke: #1A171B; }
      /* line 114, layout/_header.scss */
      .shrink-nav .nav-container .top-logo .svg-logo {
        max-height: 80px; }
    /* line 118, layout/_header.scss */
    .nav-container .top-logo .logo-after {
      position: absolute;
      left: 50%;
      right: auto;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      margin-top: 8px; }
      /* line 121, layout/_header.scss */
      .shrink-nav .nav-container .top-logo .logo-after {
        margin-top: -1px;
        filter: drop-shadow(0px -25px 15px rgba(0, 0, 0, 0.3));
        clip-path: inset(1% -100% -2% -100%); }
        @media (min-device-width: 320px) and (max-device-height: 667px) {
          /* line 121, layout/_header.scss */
          .shrink-nav .nav-container .top-logo .logo-after {
            transform: scale(0.8) !important;
            transform-origin: -200% top !important; } }
      /* line 130, layout/_header.scss */
      .nav-container .top-logo .logo-after .shrink_both-light {
        fill: transparent;
        stroke: transparent; }
        /* line 133, layout/_header.scss */
        .shrink-nav .nav-container .top-logo .logo-after .shrink_both-light {
          fill: #fff;
          stroke: #fff; }
  /* line 142, layout/_header.scss */
  .shrink-nav .nav-container .top-burger {
    margin-left: -1em; }
  /* line 146, layout/_header.scss */
  .nav-container .top-search {
    position: relative; }
    /* line 148, layout/_header.scss */
    .nav-container .top-search:hover {
      background: rgba(0, 0, 0, 0.3); }
    /* line 151, layout/_header.scss */
    .shrink-nav .nav-container .top-search {
      margin-right: -1em; }
    /* line 154, layout/_header.scss */
    .nav-container .top-search .header-search-form {
      height: 100%;
      width: 100%;
      display: block; }
      /* line 157, layout/_header.scss */
      .nav-container .top-search .header-search-form .search-button {
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        font-size: 2em; }
        /* line 160, layout/_header.scss */
        .nav-container .top-search .header-search-form .search-button:hover {
          color: #fff; }
    /* line 165, layout/_header.scss */
    .nav-container .top-search #top-search {
      margin-left: 0 !important; }
  /* line 169, layout/_header.scss */
  .nav-container .menu-wrap {
    display: block;
    z-index: 99;
    top: 0;
    padding-top: 220px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.67);
    -webkit-filter: blur(4px);
    /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: blur(4px);
    /* FF 35+ */
    transform: translateY(-100%);
    transition: transform 600ms cubic-bezier(0.215, 0.61, 0.355, 1), background-color 600ms cubic-bezier(0.215, 0.61, 0.355, 1), filter 600ms cubic-bezier(0, -1, 1, 2) 200ms; }
    /* line 181, layout/_header.scss */
    .show-menu .nav-container .menu-wrap {
      transform: translateY(0);
      -webkit-filter: none;
      /* Ch 23+, Saf 6.0+, BB 10.0+ */
      filter: none;
      /* FF 35+ */
      background-color: rgba(0, 0, 0, 0.67) !important; }
    /* line 186, layout/_header.scss */
    .shrink-nav .nav-container .menu-wrap {
      background-color: rgba(255, 255, 255, 0.67) !important; }
    /* line 189, layout/_header.scss */
    .nav-container .menu-wrap .nav {
      position: absolute;
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      padding: 0; }
      /* line 192, layout/_header.scss */
      .nav-container .menu-wrap .nav li {
        border: 0 !important;
        padding: 0; }
        /* line 195, layout/_header.scss */
        .nav-container .menu-wrap .nav li a.inner-link {
          display: block;
          padding: 7px;
          color: #fff;
          text-align: center !important;
          line-height: 1 !important;
          transition: color 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }
          /* line 202, layout/_header.scss */
          .nav-container .menu-wrap .nav li a.inner-link:hover {
            background: rgba(255, 255, 255, 0.1) !important; }
          /* line 205, layout/_header.scss */
          .shrink-nav .nav-container .menu-wrap .nav li a.inner-link {
            color: #000 !important; }
            /* line 207, layout/_header.scss */
            .shrink-nav .nav-container .menu-wrap .nav li a.inner-link:hover {
              background: rgba(0, 0, 0, 0.1) !important; }
    /* line 214, layout/_header.scss */
    .nav-container .menu-wrap #close-button {
      display: none; }

/* line 3, layout/_slider.scss */
.opacity-medium {
  opacity: 0.66; }

/* line 7, layout/_slider.scss */
.slider-typography {
  color: #fff; }
  /* line 10, layout/_slider.scss */
  .slider-typography .slider-text-middle-main {
    display: flex;
    justify-content: center;
    align-items: center; }
  /* line 15, layout/_slider.scss */
  .slider-typography .slider-text-middle {
    position: absolute;
    bottom: 5em; }
    /* line 19, layout/_slider.scss */
    .slider-typography .slider-text-middle h1 {
      margin: 0 0 10% !important;
      font-size: calc(4em + 2vmin);
      font-weight: 400;
      text-transform: none;
      letter-spacing: -0.04em;
      color: rgba(255, 255, 255, 0.2); }
      /* line 26, layout/_slider.scss */
      .slider-typography .slider-text-middle h1 strong {
        margin: 0 .2em 0 .1em;
        font-size: .8em;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.9); }
      /* line 32, layout/_slider.scss */
      .slider-typography .slider-text-middle h1 em {
        font-size: 0.8em;
        font-weight: 500;
        font-style: normal;
        color: #df4444; }
    /* line 39, layout/_slider.scss */
    .slider-typography .slider-text-middle a {
      background: #df4444;
      color: white;
      display: none !important; }

/* line 22, components/_burger.scss */
#menu-toggle,
#top-search {
  position: relative;
  height: 100px;
  width: 100px;
  margin: 0;
  padding: 0;
  cursor: pointer; }

/* line 32, components/_burger.scss */
#menu-toggle * {
  box-sizing: border-box;
  transition: 200ms ease-in-out;
  transition-property: width, height, color; }
/* line 37, components/_burger.scss */
#menu-toggle span {
  display: block;
  background: #fff; }
  /* line 40, components/_burger.scss */
  .shrink-nav #menu-toggle span {
    background: #000; }
/* line 42, components/_burger.scss */
#menu-toggle:hover {
  background: rgba(0, 0, 0, 0.3); }
/* line 43, components/_burger.scss */
#menu-toggle #hamburger {
  position: absolute;
  height: 100%;
  width: 100%; }
  /* line 46, components/_burger.scss */
  #menu-toggle #hamburger span {
    position: relative;
    top: 24px;
    left: 25px;
    height: 4px;
    width: 50px;
    margin: 10px 0; }
    /* line 50, components/_burger.scss */
    #menu-toggle #hamburger span:nth-child(1) {
      transition-delay: 400ms; }
    /* line 51, components/_burger.scss */
    #menu-toggle #hamburger span:nth-child(2) {
      transition-delay: 500ms; }
    /* line 52, components/_burger.scss */
    #menu-toggle #hamburger span:nth-child(3) {
      transition-delay: 600ms; }
    /* line 53, components/_burger.scss */
    .open #menu-toggle #hamburger span {
      width: 0%; }
      /* line 55, components/_burger.scss */
      .open #menu-toggle #hamburger span:nth-child(1) {
        transition-delay: 0s; }
      /* line 56, components/_burger.scss */
      .open #menu-toggle #hamburger span:nth-child(2) {
        transition-delay: 100ms; }
      /* line 57, components/_burger.scss */
      .open #menu-toggle #hamburger span:nth-child(3) {
        transition-delay: 200ms; }
/* line 61, components/_burger.scss */
#menu-toggle #cross {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotate(45deg) scale(0.666); }
  /* line 66, components/_burger.scss */
  #menu-toggle #cross span:nth-child(1) {
    position: absolute;
    top: 10%;
    left: 48px;
    height: 0%;
    width: 6.00601px;
    transition-delay: 0s; }
    /* line 70, components/_burger.scss */
    .open #menu-toggle #cross span:nth-child(1) {
      height: 80%;
      transition-delay: 500ms; }
  /* line 75, components/_burger.scss */
  #menu-toggle #cross span:nth-child(2) {
    position: absolute;
    top: 48px;
    left: 10%;
    height: 6.00601px;
    width: 0%;
    transition-delay: 200ms; }
    /* line 79, components/_burger.scss */
    .open #menu-toggle #cross span:nth-child(2) {
      width: 80%;
      transition-delay: 300ms; }

/* line 3, components/_rebsorten-grid.scss */
.vc_basic_grid .vc_grid.vc_row .vc_grid-item.vc_visible-item,
.vc_media_grid .vc_grid.vc_row .vc_grid-item.vc_visible-item {
  display: inline-block !important; }

@media (min-width: 1200px) {
  /* line 9, components/_rebsorten-grid.scss */
  .custom-post-grid.vc_col-sm-4 {
    width: 33%; } }
@media (min-width: 1442px) {
  /* line 9, components/_rebsorten-grid.scss */
  .custom-post-grid.vc_col-sm-4 {
    width: 33%; } }
@media (max-width: 991px) {
  /* line 9, components/_rebsorten-grid.scss */
  .custom-post-grid.vc_col-sm-4 {
    width: 50%; } }
@media (max-width: 768px) {
  /* line 9, components/_rebsorten-grid.scss */
  .custom-post-grid.vc_col-sm-4 {
    width: 50%; } }
@media (max-width: 575px) {
  /* line 9, components/_rebsorten-grid.scss */
  .custom-post-grid.vc_col-sm-4 {
    width: 100%; } }
/* line 17, components/_rebsorten-grid.scss */
.custom-post-grid .vc-gitem-zone-height-mode-auto:before {
  display: inline !important; }
/* line 21, components/_rebsorten-grid.scss */
.custom-post-grid .vc_grid-item-mini {
  border: 4px solid #f8f8f8; }
/* line 24, components/_rebsorten-grid.scss */
.custom-post-grid .NORMAL-STATE,
.custom-post-grid .HOVER-STATE {
  background-size: 0% !important;
  display: flex !important;
  align-items: center;
  justify-content: center; }
  /* line 30, components/_rebsorten-grid.scss */
  .custom-post-grid .NORMAL-STATE .vc_gitem-zone-img,
  .custom-post-grid .HOVER-STATE .vc_gitem-zone-img {
    width: 90% !important;
    display: block !important;
    visibility: visible;
    position: absolute;
    opacity: .07; }
/* line 39, components/_rebsorten-grid.scss */
.custom-post-grid .NORMAL-STATE .vc_gitem-zone-img {
  opacity: .05; }
/* line 43, components/_rebsorten-grid.scss */
.custom-post-grid .NORMAL-STATE .vc_gitem-zone-mini {
  width: 200%;
  padding: 0; }
  /* line 46, components/_rebsorten-grid.scss */
  .custom-post-grid .NORMAL-STATE .vc_gitem-zone-mini .vc_gitem-row-position-top {
    position: inherit; }
    /* line 48, components/_rebsorten-grid.scss */
    .custom-post-grid .NORMAL-STATE .vc_gitem-zone-mini .vc_gitem-row-position-top .vc_gitem-col {
      padding: 0; }
    /* line 51, components/_rebsorten-grid.scss */
    .custom-post-grid .NORMAL-STATE .vc_gitem-zone-mini .vc_gitem-row-position-top .vc_custom_heading {
      max-width: 90%;
      padding: 0 0 1em;
      margin: -5em 3em     1em; }
      @media only screen and (max-width: 768px) {
        /* line 51, components/_rebsorten-grid.scss */
        .custom-post-grid .NORMAL-STATE .vc_gitem-zone-mini .vc_gitem-row-position-top .vc_custom_heading {
          padding: 0 0 1vw !important;
          margin: -5vw auto 1vw; } }
      /* line 59, components/_rebsorten-grid.scss */
      .custom-post-grid .NORMAL-STATE .vc_gitem-zone-mini .vc_gitem-row-position-top .vc_custom_heading h2 {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        min-height: 2.2em;
        font-size: 2.5em;
        line-height: 1;
        letter-spacing: -0.6px;
        text-transform: capitalize;
        font-family: Lora; }
        @media only screen and (max-width: 991px) {
          /* line 59, components/_rebsorten-grid.scss */
          .custom-post-grid .NORMAL-STATE .vc_gitem-zone-mini .vc_gitem-row-position-top .vc_custom_heading h2 {
            font-size: 2.4em;
            line-height: 1.1; } }
        @media only screen and (max-width: 768px) {
          /* line 59, components/_rebsorten-grid.scss */
          .custom-post-grid .NORMAL-STATE .vc_gitem-zone-mini .vc_gitem-row-position-top .vc_custom_heading h2 {
            font-size: 5vw; } }
    /* line 78, components/_rebsorten-grid.scss */
    .custom-post-grid .NORMAL-STATE .vc_gitem-zone-mini .vc_gitem-row-position-top .vc_gitem-acf {
      color: #dd3333;
      font-family: "Open Sans", "Montserrat", sans-serif;
      font-size: 2.6em; }
      @media only screen and (max-width: 991px) {
        /* line 78, components/_rebsorten-grid.scss */
        .custom-post-grid .NORMAL-STATE .vc_gitem-zone-mini .vc_gitem-row-position-top .vc_gitem-acf {
          font-size: 3.2em;
          line-height: 1; } }
      @media only screen and (max-width: 768px) {
        /* line 78, components/_rebsorten-grid.scss */
        .custom-post-grid .NORMAL-STATE .vc_gitem-zone-mini .vc_gitem-row-position-top .vc_gitem-acf {
          font-size: 7vw; } }
/* line 94, components/_rebsorten-grid.scss */
.custom-post-grid .HOVER-STATE .vc_gitem-zone-img {
  top: 4em; }
/* line 97, components/_rebsorten-grid.scss */
.custom-post-grid .HOVER-STATE .more-button {
  margin-bottom: 0; }
  /* line 99, components/_rebsorten-grid.scss */
  .custom-post-grid .HOVER-STATE .more-button a {
    font-family: "Montserrat", sans-serif; }
/* line 104, components/_rebsorten-grid.scss */
.custom-post-grid .HOVER-STATE .grid-zitat {
  height: 1.8em;
  margin-left: 1em;
  font-size: 1.2em;
  font-style: italic; }
/* line 110, components/_rebsorten-grid.scss */
.custom-post-grid .HOVER-STATE .left-flow {
  height: 320px;
  width: 50%;
  float: left;
  shape-outside: polygon(0% 0%, 9% 0%, 9% 20%, 15% 43%, 24% 55%, 29% 60%, 36% 65%, 44% 70%, 67% 80%, 100% 89%, 100% 100%, 0% 100%);
  shape-margin: 2px; }
/* line 118, components/_rebsorten-grid.scss */
.custom-post-grid .HOVER-STATE .right-flow {
  height: 320px;
  width: 50%;
  float: right;
  shape-outside: polygon(0% 89%, 33% 80%, 56% 70%, 64% 65%, 70% 60%, 76% 55%, 85% 43%, 92% 20%, 92% 0%, 100% 0%, 100% 100%, 0% 100%);
  shape-margin: 2px; }
/* line 125, components/_rebsorten-grid.scss */
.custom-post-grid .HOVER-STATE .rebsorten-grid-excerpt p {
  font: normal 400 0.9em/1.3 "Lora", serif;
  padding: 1em 0 0;
  letter-spacing: -0.5px;
  text-align: center;
  text-align-last: center;
  hyphens: auto;
  text-shadow: 0 0 2px white; }
/* line 143, components/_rebsorten-grid.scss */
.custom-post-grid .HOVER-STATE .more-button a:after {
  content: "";
  position: absolute;
  bottom: -1em;
  left: 0;
  height: 1em;
  width: 100%;
  display: block;
  background-color: #fff; }

/* line 153, components/_rebsorten-grid.scss */
.vc_grid-filter-item:nth-of-type(2) {
  position: relative;
  top: 0.6em;
  overflow: hidden; }
  /* line 157, components/_rebsorten-grid.scss */
  .vc_grid-filter-item:nth-of-type(2) span {
    text-indent: -0.7em;
    display: inline-block; }
    /* line 160, components/_rebsorten-grid.scss */
    .vc_grid-filter-item:nth-of-type(2) span:before {
      content: "";
      background: #fff;
      width: 1em;
      height: 5px;
      display: inline-block;
      position: absolute;
      top: 20px;
      left: -6px; }
  /* line 171, components/_rebsorten-grid.scss */
  .vc_grid-filter-item:nth-of-type(2):hover span:before, .vc_grid-filter-item:nth-of-type(2).vc_active span:before {
    background-color: #ebebeb; }

/* line 7, components/_modals.scss */
body > nav,
body > footer,
body > section {
  transition: filter 600ms ease; }
  /* line 11, components/_modals.scss */
  .modal-open body > nav, .modal-open
  body > footer, .modal-open
  body > section {
    filter: blur(3px);
    pointer-events: none; }

/* line 18, components/_modals.scss */
.modal-wrapper {
  z-index: 1032; }

/* line 21, components/_modals.scss */
.modal {
  position: relative;
  padding: 3rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff !important;
  box-shadow: none; }
  /* line 28, components/_modals.scss */
  .modal .close-modal {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    font: 100 5em/0.5 "Montserrat", sans-serif !important;
    color: #fff;
    cursor: pointer; }
  /* line 35, components/_modals.scss */
  .modal #modal-content {
    clear: right;
    height: 100%; }
    /* line 37, components/_modals.scss */
    .modal #modal-content * {
      -webkit-font-smoothing: antialiased !important;
      -moz-osx-font-smoothing: grayscale !important; }
    /* line 41, components/_modals.scss */
    .modal #modal-content h1, .modal #modal-content h2, .modal #modal-content h3, .modal #modal-content h4 {
      color: #fff;
      margin-bottom: .5em; }
    /* line 45, components/_modals.scss */
    .modal #modal-content h1 {
      font-size: 1.7em;
      margin-top: -1em; }
    /* line 49, components/_modals.scss */
    .modal #modal-content a {
      color: #fff; }
    /* line 52, components/_modals.scss */
    .modal #modal-content blockquote {
      padding-left: 1em;
      font-size: 1.7em; }
    /* line 56, components/_modals.scss */
    .modal #modal-content .rebsorte-featured-image-thumb {
      pointer-events: none; }
    /* line 60, components/_modals.scss */
    .modal #modal-content .la-timer {
      height: 300%;
      width: 300%;
      position: static;
      display: block;
      -webkit-animation: fadeOut 1s ease-in 1;
      /* Safari 4+ */
      animation: fadeOut 1s ease-in 1;
      /* IE 10+, Fx 29+ */ }
      /* line 66, components/_modals.scss */
      .modal #modal-content .la-timer div {
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%); }
  /* line 75, components/_modals.scss */
  .modal-small .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: auto !important;
    min-height: 60%; }
    /* line 79, components/_modals.scss */
    .modal-small .modal img {
      border-radius: 50%; }
    @media only screen and (min-width: 1200px) {
      /* line 75, components/_modals.scss */
      .modal-small .modal {
        padding: 4rem 2rem 2rem;
        width: 50%; }
        /* line 85, components/_modals.scss */
        .modal-small .modal #modal-content {
          padding: 2em; } }
    @media (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
      /* line 75, components/_modals.scss */
      .modal-small .modal {
        padding: 5rem 2rem 2rem;
        width: 75%; }
        /* line 92, components/_modals.scss */
        .modal-small .modal #modal-content {
          padding: 2em;
          font-size: 1.3em;
          line-height: 1.3; }
        /* line 97, components/_modals.scss */
        .modal-small .modal img {
          width: 150%; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-webkit-keyframes jamesBond {
  to {
    shape-outside: circle(50% at center);
    clip-path: circle(50% at center); } }
@keyframes jamesBond {
  to {
    shape-outside: circle(50% at center);
    clip-path: circle(50% at center); } }
/* line 9, components/_modal-small.scss */
.modal-small .modal {
  transition: height 0.4s cubic-bezier(0.215, 0.61, 0.355, 1); }
/* line 12, components/_modal-small.scss */
.modal-small .alignright,
.modal-small .alignleft {
  shape-outside: circle(50% at center);
  clip-path: circle(50% at center);
  max-width: 45%; }
/* line 21, components/_modal-small.scss */
.modal-small p {
  text-align: justify;
  hyphens: auto; }
  /* line 24, components/_modal-small.scss */
  .modal-small p strong {
    margin-bottom: .5em; }

/* line 6, pages/_home.scss */
section#slider {
  background-color: #444; }
  /* line 9, pages/_home.scss */
  section#slider .owl-prev .fa, section#slider .owl-next .fa {
    color: #fff; }
  /* line 12, pages/_home.scss */
  section#slider .owl-prev:before, section#slider .owl-next:before {
    background-color: rgba(0, 0, 0, 0.3); }
  /* line 15, pages/_home.scss */
  section#slider .owl-prev:hover:before, section#slider .owl-next:hover:before {
    background-color: rgba(255, 255, 255, 0.3); }

/* line 23, pages/_home.scss */
section#about .subheader .icon-image {
  height: calc(2vw + 1.8em);
  width: calc(2vw + 1.8em);
  padding: 20px;
  border-radius: 50%;
  background: #fff;
  display: none; }

@media only screen and (min-width: 992px) and (max-width: 1441px) {
  /* line 38, pages/_home.scss */
  section#mission .mission-col {
    width: 100%; } }
/* line 43, pages/_home.scss */
section#mission .first-word {
  color: #d33;
  font-weight: bold; }
/* line 48, pages/_home.scss */
section#mission .mission-grid .vc_col-sm-3 {
  max-height: 20%; }
  @media (min-width: 1442px) {
    /* line 48, pages/_home.scss */
    section#mission .mission-grid .vc_col-sm-3 {
      width: 25%; } }
  @media (max-width: 1441px) {
    /* line 48, pages/_home.scss */
    section#mission .mission-grid .vc_col-sm-3 {
      width: 50%; } }
  @media (max-width: 768px) {
    /* line 48, pages/_home.scss */
    section#mission .mission-grid .vc_col-sm-3 {
      width: 100%; } }
/* line 56, pages/_home.scss */
section#mission .mission-grid h3,
section#mission .mission-grid .tagline,
section#mission .mission-grid .mission-description-acf {
  margin: 0 auto;
  font: 700 1.8em "Montserrat", sans-serif;
  letter-spacing: -0.02em;
  color: #d33;
  -webkit-font-smoothing: subpixel-antialiased !important;
  text-align: center !important;
  max-width: 8em;
  color: rgba(123, 123, 123, 0.45);
  -webkit-font-smoothing: subpixel-antialiased !important; }
/* line 67, pages/_home.scss */
section#mission .mission-grid .tagline:before {
  content: "Wir ";
  font-weight: 800;
  color: #d33; }
/* line 73, pages/_home.scss */
section#mission .mission-grid h3 {
  color: #d33;
  text-transform: none; }
/* line 78, pages/_home.scss */
section#mission .mission-grid .mission-description-acf {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 30px rgba(25, 25, 25, 0.5); }
  /* line 79, pages/_home.scss */
  section#mission .mission-grid .mission-description-acf:after {
    content: "\:"; }
/* line 85, pages/_home.scss */
section#mission .mission-grid .wpb_single_image {
  max-width: 280px;
  margin: 0 auto !important; }

/* line 95, pages/_home.scss */
section#rebsorten #logo-description {
  opacity: 1;
  transform: scale(0.8);
  margin: -4.5em 0 0 0em !important; }
  /* line 99, pages/_home.scss */
  section#rebsorten #logo-description h2 {
    display: inline-block;
    height: 1em;
    line-height: 3.5; }
  /* line 104, pages/_home.scss */
  section#rebsorten #logo-description .vc_gitem-acf {
    display: inline-block; }
  /* line 107, pages/_home.scss */
  section#rebsorten #logo-description .vc_grid-item-mini {
    border: none; }

/* line 114, pages/_home.scss */
section#partner .vc_grid-item h3 {
  font-size: 1.5em;
  color: #fff;
  text-shadow: 0 0 2px #000; }

/* line 122, pages/_home.scss */
section#blog .section-title {
  padding-bottom: 0 !important; }

/* line 126, pages/_home.scss */
section#wortmarke {
  display: flex;
  align-items: center; }
  /* line 130, pages/_home.scss */
  section#wortmarke .wortmarke figure {
    display: flex;
    justify-content: center;
    pointer-events: none; }
    /* line 137, pages/_home.scss */
    section#wortmarke .wortmarke figure:before {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      width: 50vw;
      height: 20vw;
      margin: 0 auto;
      background-color: white;
      filter: blur(40px);
      transition: all .5s;
      opacity: .8; }
    /* line 148, pages/_home.scss */
    section#wortmarke .wortmarke figure:hover img {
      opacity: 1; }
    /* line 151, pages/_home.scss */
    section#wortmarke .wortmarke figure:hover:before {
      width: 60vw;
      height: 23vw;
      margin-top: -2.3vw;
      opacity: .95; }
    /* line 157, pages/_home.scss */
    section#wortmarke .wortmarke figure .vc_single_image-wrapper {
      position: relative;
      padding: 1.4vw; }
      /* line 160, pages/_home.scss */
      section#wortmarke .wortmarke figure .vc_single_image-wrapper img {
        height: auto;
        width: 40vw; }

/* line 169, pages/_home.scss */
section#counter {
  padding: 7vmax calc(5% - 10vmax) !important;
  margin: 10vmax 0 2vmax !important; }
  /* line 172, pages/_home.scss */
  section#counter .row {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    @media (max-width: 768px) {
      /* line 172, pages/_home.scss */
      section#counter .row {
        flex-direction: column; }
        /* line 178, pages/_home.scss */
        section#counter .row .col-xs-mobile-fullwidth {
          margin: 5vh 0; }
          /* line 180, pages/_home.scss */
          section#counter .row .col-xs-mobile-fullwidth .icon-image {
            height: 15vw;
            width: 15vw; }
          /* line 181, pages/_home.scss */
          section#counter .row .col-xs-mobile-fullwidth .large-icon {
            font-size: 15vw !important; } }
  @media (min-width: 769px) {
    /* line 185, pages/_home.scss */
    section#counter .col-xs-mobile-fullwidth {
      display: inline-block;
      float: none;
      width: 33%; } }
  /* line 191, pages/_home.scss */
  section#counter .col-xs-mobile-fullwidth:last-child .icon-image {
    filter: invert(1); }
  /* line 193, pages/_home.scss */
  section#counter .icon-image,
  section#counter .large-icon {
    margin-bottom: 2%; }
  /* line 197, pages/_home.scss */
  section#counter .icon-image {
    height: 5.5vmax; }
  /* line 198, pages/_home.scss */
  section#counter .large-icon {
    font-size: 5vmax !important; }
  /* line 199, pages/_home.scss */
  section#counter .counter-title {
    color: #e44;
    font: normal 600 2.5em/1 "Open Sans", "Montserrat", sans-serif;
    letter-spacing: -0.04em;
    text-transform: capitalize; }

/* line 206, pages/_home.scss */
section#testimonials
.owl-item p {
  font-size: 16px; }

/* line 13, pages/_rebsorten-modal.scss */
.custom-post-header {
  margin-bottom: 1em; }
  /* line 15, pages/_rebsorten-modal.scss */
  .custom-post-header .flex-container {
    height: 300px;
    flex-direction: column; }
    /* line 18, pages/_rebsorten-modal.scss */
    .custom-post-header .flex-container .watermark {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute; }
      /* line 24, pages/_rebsorten-modal.scss */
      .custom-post-header .flex-container .watermark img {
        width: 100%;
        max-width: 300px;
        padding: 0;
        opacity: .1;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -moz-touch-callout: none;
        -ms-touch-callout: none;
        -o-touch-callout: none;
        -webkit-touch-callout: none;
        touch-callout: none;
        -webkit-filter: invert(1);
        /* Ch 23+, Saf 6.0+, BB 10.0+ */
        filter: invert(1);
        /* FF 35+ */ }
    /* line 34, pages/_rebsorten-modal.scss */
    .custom-post-header .flex-container .rebsorte-title {
      display: table;
      padding: 0 1em .5em;
      border-bottom: 3px solid #dd3333;
      margin-bottom: .2em !important;
      color: #fff;
      font: normal normal 400 2em "Lora", "Georgia", serif;
      line-height: 0.9;
      text-transform: capitalize;
      text-align: center;
      letter-spacing: -1.5px;
      color: #333;
      max-width: 20%; }
    /* line 43, pages/_rebsorten-modal.scss */
    .custom-post-header .flex-container .ursprungsnummer-title {
      font: normal normal 2em "Open Sans", "Montserrat", sans-serif !important;
      text-align: center;
      color: #dd3333; }
  /* line 47, pages/_rebsorten-modal.scss */
  .custom-post-header .rebsorte-featured-image {
    text-align: center; }

/* line 52, pages/_rebsorten-modal.scss */
.rebsorte-featured-image-thumb {
  float: right;
  padding: 2px;
  border: 1px solid #dadada;
  margin: 0 1em 1em; }
  /* line 57, pages/_rebsorten-modal.scss */
  .rebsorte-featured-image-thumb img {
    width: 200px;
    height: 200px; }

/* line 63, pages/_rebsorten-modal.scss */
.view-pdf {
  position: relative;
  display: inline-block;
  border: 1px solid #dadada;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  width: 150px;
  float: none; }
  /* line 71, pages/_rebsorten-modal.scss */
  .view-pdf img {
    -webkit-filter: blur(2px);
    /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: blur(2px);
    /* FF 35+ */
    -webkit-transition: filter 0.5s ease;
    transition: filter 0.5s ease; }
  /* line 75, pages/_rebsorten-modal.scss */
  .view-pdf:after {
    content: "";
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 7em;
    line-height: 0;
    color: #d33;
    pointer-events: none; }
  /* line 85, pages/_rebsorten-modal.scss */
  .view-pdf:hover:after {
    content: "";
    opacity: 0.5; }
  /* line 90, pages/_rebsorten-modal.scss */
  .view-pdf:hover img {
    -webkit-filter: none;
    /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: none;
    /* FF 35+ */ }

/* line 96, pages/_rebsorten-modal.scss */
p.wein-vorhanden i {
  font-size: 4em;
  display: block;
  margin-bottom: 10px; }

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
/* line 7, vendors/_vendors.scss */
.la-timer.la-4x {
  width: 128px;
  height: 128px; }

/* line 12, vendors/_vendors.scss */
.la-timer.la-4x > div {
  width: 128px;
  height: 128px;
  border-width: 6px; }

/* line 18, vendors/_vendors.scss */
.la-timer.la-4x > div:before,
.la-timer.la-4x > div:after {
  top: 56px;
  left: 56px;
  width: 8px;
  margin-top: -4px;
  margin-left: -4px;
  border-radius: 8px;
  -webkit-transform-origin: 4px 4px 0;
  -moz-transform-origin: 4px 4px 0;
  -ms-transform-origin: 4px 4px 0;
  -o-transform-origin: 4px 4px 0;
  transform-origin: 4px 4px 0; }

/* line 33, vendors/_vendors.scss */
.la-timer.la-4x > div:before {
  height: 48px; }

/* line 37, vendors/_vendors.scss */
.la-timer.la-4x > div:after {
  height: 32px; }

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
/* line 6, vendors/_timer.min.scss */
.la-timer, .la-timer > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 6, vendors/_timer.min.scss */
.la-timer {
  display: block;
  font-size: 0;
  color: #fff; }

/* line 6, vendors/_timer.min.scss */
.la-timer.la-dark {
  color: #333; }

/* line 6, vendors/_timer.min.scss */
.la-timer > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor; }

/* line 6, vendors/_timer.min.scss */
.la-timer {
  width: 32px;
  height: 32px; }

/* line 6, vendors/_timer.min.scss */
.la-timer > div {
  width: 32px;
  height: 32px;
  background: transparent;
  border-width: 2px;
  border-radius: 100%; }

/* line 6, vendors/_timer.min.scss */
.la-timer > div:before, .la-timer > div:after {
  position: absolute;
  top: 14px;
  left: 14px;
  display: block;
  width: 2px;
  margin-top: -1px;
  margin-left: -1px;
  content: "";
  background: currentColor;
  border-radius: 2px;
  -webkit-transform-origin: 1px 1px 0;
  -moz-transform-origin: 1px 1px 0;
  -ms-transform-origin: 1px 1px 0;
  -o-transform-origin: 1px 1px 0;
  transform-origin: 1px 1px 0;
  -webkit-animation: timer-loader 1250ms infinite linear;
  -moz-animation: timer-loader 1250ms infinite linear;
  -o-animation: timer-loader 1250ms infinite linear;
  animation: timer-loader 1250ms infinite linear;
  -webkit-animation-delay: -625ms;
  -moz-animation-delay: -625ms;
  -o-animation-delay: -625ms;
  animation-delay: -625ms; }

/* line 6, vendors/_timer.min.scss */
.la-timer > div:before {
  height: 12px; }

/* line 6, vendors/_timer.min.scss */
.la-timer > div:after {
  height: 8px;
  -webkit-animation-duration: 15s;
  -moz-animation-duration: 15s;
  -o-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-delay: -7.5s;
  -moz-animation-delay: -7.5s;
  -o-animation-delay: -7.5s;
  animation-delay: -7.5s; }

/* line 6, vendors/_timer.min.scss */
.la-timer.la-sm {
  width: 16px;
  height: 16px; }

/* line 6, vendors/_timer.min.scss */
.la-timer.la-sm > div {
  width: 16px;
  height: 16px;
  border-width: 1px; }

/* line 6, vendors/_timer.min.scss */
.la-timer.la-sm > div:before, .la-timer.la-sm > div:after {
  top: 7px;
  left: 7px;
  width: 1px;
  margin-top: -.5px;
  margin-left: -.5px;
  border-radius: 1px;
  -webkit-transform-origin: 0.5px 0.5px 0;
  -moz-transform-origin: 0.5px 0.5px 0;
  -ms-transform-origin: 0.5px 0.5px 0;
  -o-transform-origin: 0.5px 0.5px 0;
  transform-origin: 0.5px 0.5px 0; }

/* line 6, vendors/_timer.min.scss */
.la-timer.la-sm > div:before {
  height: 6px; }

/* line 6, vendors/_timer.min.scss */
.la-timer.la-sm > div:after {
  height: 4px; }

/* line 6, vendors/_timer.min.scss */
.la-timer.la-2x {
  width: 64px;
  height: 64px; }

/* line 6, vendors/_timer.min.scss */
.la-timer.la-2x > div {
  width: 64px;
  height: 64px;
  border-width: 4px; }

/* line 6, vendors/_timer.min.scss */
.la-timer.la-2x > div:before, .la-timer.la-2x > div:after {
  top: 28px;
  left: 28px;
  width: 4px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 4px;
  -webkit-transform-origin: 2px 2px 0;
  -moz-transform-origin: 2px 2px 0;
  -ms-transform-origin: 2px 2px 0;
  -o-transform-origin: 2px 2px 0;
  transform-origin: 2px 2px 0; }

/* line 6, vendors/_timer.min.scss */
.la-timer.la-2x > div:before {
  height: 24px; }

/* line 6, vendors/_timer.min.scss */
.la-timer.la-2x > div:after {
  height: 16px; }

/* line 6, vendors/_timer.min.scss */
.la-timer.la-3x {
  width: 96px;
  height: 96px; }

/* line 6, vendors/_timer.min.scss */
.la-timer.la-3x > div {
  width: 96px;
  height: 96px;
  border-width: 6px; }

/* line 6, vendors/_timer.min.scss */
.la-timer.la-3x > div:before, .la-timer.la-3x > div:after {
  top: 42px;
  left: 42px;
  width: 6px;
  margin-top: -3px;
  margin-left: -3px;
  border-radius: 6px;
  -webkit-transform-origin: 3px 3px 0;
  -moz-transform-origin: 3px 3px 0;
  -ms-transform-origin: 3px 3px 0;
  -o-transform-origin: 3px 3px 0;
  transform-origin: 3px 3px 0; }

/* line 6, vendors/_timer.min.scss */
.la-timer.la-3x > div:before {
  height: 36px; }

/* line 6, vendors/_timer.min.scss */
.la-timer.la-3x > div:after {
  height: 24px; }

@-webkit-keyframes timer-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes timer-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes timer-loader {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes timer-loader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*# sourceMappingURL=global.css.map */
