/*
Theme Name: Historische Rebsorten
Theme URI:
Author: reflect-media GmbH / Kunsang Norbu Tsering
Author URI: http://reflect-media.de
Description: Historische Rebsorten
Template: h-code
Version: 1.1
Text Domain: h-code-child
*/

@import url('css/global.css');
