
#mission-col {
  padding-top: 2rem;
  @include media("screen", "from-md", "to-xl") {
    width: 100%;
  }
}
.mission-grid {
  .vc_col-sm-3 {
    // max-height: 10%;
    @include media("from-lg") { width: 25%; }
    @include media("to-lg")   { width: 50%; }
    @include media("to-xs")   { width: 80%; }
    @include media("from-sm", "to-lg") {
      &:nth-of-type(odd) { left: 5%; }
      &:nth-of-type(even) { right: 5%; }
    }
    @include media("from-lg", "to-lg") {
      &:nth-of-type(odd) { left: 10%; }
      &:nth-of-type(even) { right: 10%; }
    }
  }
  .vc_grid-item-mini  {
    // box-shadow: $box-shadow !important;
    // border: 1px solid $red;
    // background: #fff;
  }
  .mission-grid-item {
    .mission-field {
      font: 300 1.4rem/1.2 $sans-stack;
      letter-spacing: -0.06rem;
      color: #777;
      max-width: 10em;
      margin: 0 auto;
    }
    .tagline-acf::before {
        content: "Wir ";
        font-weight: 600;
        color: $light-red;
        @at-root {
          .tagline-acf {
            transition: all .5s;
            .vc_is-hover & {
              opacity: 0.7;
              filter: blur(1.5px);
          }
        }
      }
    }
    .description-acf {
      margin-top: 1rem;
      font-size: 1.2rem;
      &::after {
        content: "\:";
      }
    }
    .mission-title h3 {
      font-size: 1.4rem;
      font-weight: 600;
      margin: 0 auto 3rem;
      max-width: 8rem;
      color: $red;
    }
    .wpb_single_image {
      max-width: 330px;
      padding: 20px;
      margin: 0 auto !important;
    }
    .vc_gitem-zone-c {
      margin-top: 0em;
    }
    .modal-open-btn {
      max-width: 200px !important;
      margin-bottom: 1.5rem !important;
    }
  }
}

.vc_gitem-animate-blurScaleOut {
  .vc_figure {
    box-shadow: $box-shadow !important;
    position: relative;
    img {
      filter: grayscale(0.3);
      border-radius: 3px;
      .vc_is-hover & {
        filter: none;
      }
    }
    &:before {
      content: "";
      @include coverer(0);
      background: white(0.75);
      opacity: 0;
      transition: opacity 0.5s;
      .vc_is-hover & {
        opacity: 1;
      }
    }
  }
}
.vc_gitem-zone-a.NORMAL-STATE {
  -webkit-transform: scale(1.2) !important;
  -ms-transform: scale(1.2) !important;
  transform: scale(1.2) !important;
  will-change: transform;
  max-width: 350px !important;
  margin: 0 auto;
  @include media(mobile) {
    max-width: 230px !important;
  }
  @include media(ipad) {
    max-width: 250px !important;
  }

  .vc_grid-item-mini.vc_is-hover & {
   -webkit-transform: scale(1.1) !important;
   -ms-transform: scale(1.1) !important;
   transform: scale(1.1) !important;
  }
}


