.partner-grid {
  .vc_grid-item-mini {
    border-radius: 3px;
    box-shadow: $box-shadow !important;
    border: 1px solid $red;
  }
  .vc_grid-item {
    padding-right: 31px !important;
    @include media("from-md") { width: 25%; }
    @include media("to-md")   { width: 33%; }
    @include media("to-xs")   { width: 50%; }
    .partner-grid-item {
      margin: 1px;
      background-size: 176px !important;
      background-color: hsl(0, 0%, 100%);
      @media (max-width: 675px) {
        background-size: 90% !important;
      }
    }
    h3 {
      margin: 15px 0 0;
      font-size: 1.4em;
      color: $red;
      @include media("mobile") {
        font-size: 1rem;
      }
    }
  }
}




