.partner-grid {
  .vc_grid-item-mini {
//     border: 4px solid #ffcfcf;
    border: 1px solid $red;
  }
  .vc_grid-item {
    @include media("from-md") { width: 25%; }
    @include media("to-md")   { width: 33%; }
    @include media("to-xs")   { width: 50%; }
    .partner-grid-item {
      background-size: 176px !important;
      background-color: hsl(0, 0%, 100%);
      @media (max-width: 675px) {
        background-size: contain !important;
      }
    }
    h3 {
      margin: 15px 0 0;
      font-size: 1.4em;
      color: $red;
    }
  }
}




