$h1-size: 2rem;

section#slider {
  padding: 0 !important;
}

.owl-carousel .owl-item {
  cursor: default !important;
}

.owl-carousel {
  .bg-black {
    @include coverer();
    z-index: 0;
    background: hsla(0, 0%, 0%, 0.1) url(/wp-content/themes/hr/i/patterns/noisy-net-dark.png);
    opacity: 0.9;
  }
  .owl-bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .owl-controls {
    .owl-pagination {
      bottom: 30px;
      display: block;
      left: 0;
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: 100!important;
      .owl-page {
        display: inline-block;
        padding: 6px 5px;
        span {
          border-radius: 4px;
          box-shadow: 1px 1px 0 rgba(0,0,0,.1);
          display: block;
          height: 7px;
          transition: all 0.27s cubic-bezier(0,0,.58,1) 0s;
          width: 7px;
        }
      }
    }
    .owl-buttons {
      .owl-prev, .owl-next {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .fa {
          color: white(0.5);
        }
        &:before {
          background-color: black(0.15);
        }
        &:hover:before {
          background-color: white(0.1);
        }
      }
    }
  }

  .slider-typography {
    .slider-text-middle-main {
      @include display(flex);
      @include size(100vw 100vh);
      justify-content: center;
      align-items: center;
      position: absolute;
    }
    .slider-text-middle {
      margin-top: 15%;
      font: normal 500 3rem $sans-stack;
      h1 {
        margin: 0 !important;
        font-size: 3.3rem;
        font-weight: 400;
        text-align: center;
        text-transform: none;
        color: white(0.25);
        strong, em, i {
          font-size: 2.6rem;
          font-weight: 700;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black(0.6);
        }
        strong {
          margin: 0;
          color: white(0.9);
        }
        em, i {
          margin-left: -0.5rem;

          font-style: normal;
          color: $light-red;

          @include media("to-xs") {
            display: block;
            margin-top: 1rem;
          }
        }
      }
      a {
        background: #df4444;
        color: white;
        display: none !important;
      }
    }
  }
}

/* .owl-carousel { overflow: hidden; } */
.owl-buttons { position: static; }
.owl-prev, .owl-next { color: #111; display: block; font-size: 16px; height: 105px; line-height: 105px; margin-top:-35px; opacity: 0; position: absolute; text-align: center; top: 50%; width: 105px; z-index: 6; transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-duration: .3s; -moz-transition-duration: .3s; -webkit-transition-duration: .3s; -o-transition-duration: .3s; }
.owl-prev {left: -70px;}
.owl-next {right: -70px;}
/* .owl-prev:before, .owl-next:before { background-color:#fff; border-radius:2px; box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1); content: ""; display: block; height: 66%; left: 0; position: absolute; width: 66%; } */
.owl-next:before { left: auto; right: 0; }
.owl-prev .fa, .owl-next .fa {color: #000; font-size: 24px;}
.owl-prev .fa{ right: 4%}
.owl-next .fa { left: 4%;}

.owl-pagination { bottom: 30px; display: block; left: 0; position: absolute; text-align: center; width: 100%; z-index: 100 !important; }

.dark-pagination .owl-page span { background: none repeat scroll 0 0 rgba(0, 0, 0, 1); box-shadow: none }
.dark-pagination .owl-page.active span {background:transparent; border: 1px solid rgba(0, 0, 0, 1); }
.dark-pagination .owl-prev, .owl-next { opacity: 1; }
.dark-navigation .owl-prev::before, .dark-navigation .owl-next::before { background: none repeat scroll 0 0 rgba(0, 0, 0, 1); }
.dark-navigation .owl-prev .fa, .dark-navigation .owl-next .fa { color: #fff;}
.dark-navigation .owl-prev::before, .dark-navigation .owl-next::before { background: none repeat scroll 0 0 rgba(0, 0, 0, 1); }
.dark-navigation .owl-prev .fa, .dark-navigation .owl-next .fa { color: #fff;}
.dark-pagination .owl-next:before { left: auto; right: 0; }
.dark-pagination .owl-prev {left: -35px; opacity: 1; }
.dark-pagination .owl-next { opacity: 1; right: -35px; }
.light-pagination .owl-page.active span {background: transparent; border: 1px solid rgba(255, 255, 255, 1); }
.feature_nav a { cursor: pointer;}
.owl-pagination-bottom.owl-carousel { overflow: visible;}
.owl-pagination-bottom.owl-carousel .owl-pagination { bottom: -50px }

/* dot pagination */
.dot-pagination .owl-page span { border-radius: 4px; box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1); display: block; height: 7px; transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s; width: 7px;}
.dot-pagination .owl-page.active span {border:none !important; transform:none!important; background:#fff !important}

/* hide next-prev arrow */
.dark-pagination-without-next-prev-arrow .owl-prev, .dark-pagination-without-next-prev-arrow .owl-next {display: none}

/* bottom pagination */
.bottom-pagination .owl-pagination {position:inherit !important}


/* ===================================
    Slider and parallax typography
====================================== */
// .slider-text-middle-main { display: table; height: 100%; width: 100% }
// .slider-text-bottom { display: table-cell; vertical-align: bottom; }
// .slider-text-top { display: table-cell; vertical-align: top; }
// .slider-text-middle { display: table-cell; vertical-align: middle; }
// .slider-text-middle1 { padding: 0 15px;}
// .slider-typography { text-align: center; width: 100%; height: 100%; position: absolute; z-index: 1; right: 0; left: 0; }
// .slider-subtitle1 { display: block; font-family: "Oswald",sans-serif; font-size: 48px; font-weight: 100; letter-spacing: 4px; line-height: 68px; margin-bottom: 45px; padding: 30px 35px; text-align: center; text-transform: uppercase; width: 250px; }
// .slider-title-big1 {font-size: 14px; text-transform: uppercase; letter-spacing: 1px }
// .slider-text-middle1 .separator-line { margin: 3% 0 0 0}
// .slider-text-middle2 { padding:0 15px}
// .slider-subtitle2 { display: block; font-size: 35px; font-weight: 100; letter-spacing: 4px; line-height: 45px; text-transform: uppercase; }
// .slider-subtitle3 {font-size: 20px; font-weight: 600; letter-spacing: 8px; line-height: 80px; text-transform: uppercase; }
// .slider-text-middle3 { padding:0 15px}
// .slider-title-big3 {display: inline-block; font-size: 30px; font-weight: 600; letter-spacing: 7px; line-height: 43px; padding: 35px 50px; text-transform: uppercase;}
// .slider-text-middle4 { padding: 0 15px;}
// .slider-subtitle4 {font-size: 14px; font-weight: 100; letter-spacing: 4px; text-transform: uppercase; margin-bottom: 20px; display: block }
// .slider-title-big4 {font-size: 30px; font-weight: 400; letter-spacing: 7px; text-transform: uppercase; display: block; margin-bottom: 20px}
// .slider-text-middle5 { padding: 0 15px;}
// .slider-subtitle5 {font-size: 22px; font-weight: 600; letter-spacing: 4px; text-transform: uppercase; margin-bottom: 50px; display: block; line-height: 30px }
// .slider-title-big5 {font-size: 15px; font-weight: 100; letter-spacing: 7px; text-transform: uppercase; display: block; margin-bottom: 30px}
// .slider-number {border: 2px solid #fff; display: inline-block; font-size: 20px; font-weight: 400; margin-bottom: 60px; padding: 9px 0; width: 46px; text-align: center}
// .slider-title-big6{ font-size:110px; line-height: 100px; }
// .slider-title-big7{ font-size:55px; line-height: 68px; font-weight: 300; color: #fff; display: inline-block;}
// .slider-title-big8 {font-family: "Oswald",sans-serif;  font-size: 25px; line-height: 35px; font-weight: 300; letter-spacing: 1px; text-transform: uppercase; display: block;}
