.owl-carousel {
  .bg-black {
    background: hsla(0, 0%, 0%, 0.2) url(../i/patterns/noisy-net-dark.png);
    opacity: 0.85;
  }
  .owl-prev, .owl-next {
    .fa {
      color: #fff;
    }
    &:before {
      background-color: transparentize(#000, 0.7);
    }
    &:hover:before {
      background-color: transparentize(#fff, 0.7)
    }
  }
}

$h1-size: 2rem;

.slider-typography {
  .slider-text-middle-main {
    @include display(flex);
    justify-content: center;
    align-items: center;
  }
  .slider-text-middle {
    margin-top: 15%;
    font: normal 500 3rem $sans-stack;
    h1 {
      margin: 0 0 10% !important;
      font-size: 3.3rem;
      font-weight: 400;
      text-transform: none;
      color: transparentize(#fff, .75);
      strong, em {
        font-size: 2.6rem;
        font-weight: 600;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(0, 0, 0, 0.4);
      }
      strong {
        margin: 0;
        color: transparentize(#fff, .1);
      }
      em {
        margin-left: -0.5rem;
        font-style: normal;
        color: $red-text;

        @include media("to-xs") {
          display: block;
          margin-top: 1rem;
        }
      }
    }
    a {
      background: #df4444;
      color: white;
      display: none !important
      ;
    }
  }
}
