.section-logo {
  height: 200px;
  z-index: 3;
  position: relative;
  margin: 0 0 2em !important;
  animation-delay: 0s;
  h2 { display: none; }
  .section-logo-svg {
    @include size(152px 158px);
    @include position(absolute, 0 -25%);
    margin: auto;
    display: block;
    fill: #333;
    fill: url("#MyGradient");
    stroke: #333;
    stroke-miterlimit: 5;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.08));
  }
}
.animate-draw {
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 2s, 2s, 1s;
  animation-delay: 1s, 2s, 2.5s;
  .section-logo.animated & {
    animation-name: DrawLine, FadeStroke, FillIn;
  }
  &.draw-mark {
    .has_no-cssanimations & {
      fill-opacity: 1;
      stroke-opacity: 0;
      stroke-dashoffset: 0;
    }
  }
  &.draw-frame {
    fill: #fff;
    animation-duration: 3s, 1s, 1s;
    animation-delay: 1s, 2s, 2s;
    stroke: transparent;
    stroke-opacity: 0;
    .grey-bg & {
      fill: #eee;
    }
  }
}

@keyframes DrawLine {
  to { stroke-dashoffset: 0; }
}
@keyframes FadeStroke {
  to { stroke-opacity: 0; }
}
@keyframes FillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}