.section-logo {
  height: 250px;
  z-index: 3;
  position: relative;
  animation-delay: 0s;
  @include media("screen", "to-sm") {
    margin: -0.5rem 0 -3rem !important;
  }
  svg {
    @include size(calc(6vw + 7rem) calc(6vh + 7rem));
    @include position(absolute, 0 -25%);
    margin: auto;
    display: block;
  }
}

.animated-logo {
  fill: #333;
  fill: url("#MyGradient");
  stroke: #999;
  stroke-miterlimit: 5;
  // stroke-opacity: 0.5;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.065));
  .watermark & {
    z-index: -1;
    @include size(auto 250px);
    @include center(xy);
    @include media(mobile) {
      @include size(auto 200px);
    }
    fill: white(0.1);
    stroke: white(0.5);
  }
}

$logo-timing: 400ms;
$lt: $logo-timing;
$lt2: ($logo-timing * 2);
$lt3: ($logo-timing * 3);
$lt4: ($logo-timing * 3);

.animate-draw {
  fill-opacity: 0;
  animation: {
    timing-function: ease-in-out;
    fill-mode: forwards;
    iteration-count: 1;
    duration: $lt3, $lt3, $lt4;
    delay: $lt, $lt4, $lt3;
  }
  .watermark & {
    animation-duration: $lt2, $lt2, $lt3;
    animation-delay:    0s,  $lt3, $lt2;
  }
  .images-loaded .logo-header &,
  .section-logo.animated &,
  .watermark & {
    animation-name: DrawLine, FadeStroke, FillIn;
  }
  &.draw-mark {
    .has_no-cssanimations & {
      fill-opacity: 1;
      stroke-opacity: 0;
      stroke-dashoffset: 0;
    }
  }
  &.draw-frame {
    fill: #fff;
    animation-duration: 3s, 1s, 1s;
    animation-delay: 1s, 2s, 2s;
    stroke: transparent;
    stroke-opacity: 0;
    .grey-bg & {
      fill: #eee;
    }
    .watermark & {
      fill: transparent;
    }
  }
}

