.section-logo {
  height: 250px;
  z-index: 3;
  position: relative;
  animation-delay: 0s;
  @include media("screen", "to-sm") {
    margin: -0.5rem 0 -3rem !important;
  }
  // h2 { display: none; }
  svg {
    @include size(calc(6vw + 7rem) calc(6vh + 7rem));
    @include position(absolute, 0 -25%);
    margin: auto;
    display: block;
  }
}

.animated-logo {
  fill: #333;
  fill: url("#MyGradient");
  stroke: #333;
  // stroke-miterlimit: 5;
  // stroke-linecap: round;
  // stroke-linejoin: round;
  stroke-opacity: 0.5;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.065));
  .watermark & {
    z-index: -1;
    @include size(auto 250px);
    @include center(xy);
    @include media(mobile) {
      @include size(auto 200px);
    }
    fill: white(0.1);
    stroke: white(0.5);
  }
  &#logoAfter {
    
  }
}

.animate-draw {
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 1.5s, .5s, 2s;
  animation-delay: .5s, 2s, 2s;
  .watermark & {
    animation-duration: 1s, .5s, 1s;
    animation-delay: 0s, 1s, 1s;
  }
  .images-loaded .logo-header &,
  .section-logo.animated &,
  .watermark & {
    animation-name: DrawLine, FadeStroke, FillIn;
  }
  // .single & {
  //   animation-delay: 2s, 4s, 4s !important;
  // }
  &.draw-mark {
    .has_no-cssanimations & {
      fill-opacity: 1;
      stroke-opacity: 0;
      stroke-dashoffset: 0;
    }
  }
  &.draw-frame {
    fill: #fff;
    animation-duration: 3s, 1s, 1s;
    animation-delay: 1s, 2s, 2s;
    stroke: transparent;
    stroke-opacity: 0;
    .grey-bg & {
      fill: #eee;
    }
    .watermark & {
      fill: transparent;
      // .single & {
      //   fill: #fff !important;
      //   animation-delay: 3s, 5s, 5s;
      // }
    }
  }
}

