// =============================================================================
//   global blur effects on modal or menu open
// =============================================================================

nav ~ section,
section + footer {
  // transition: filter $htd $hte;
  // .has_no-backdropfilter .show-menu &,
  .has_no-backdropfilter.modal-is-open &,
  .has_no-backdropfilter .mfp-search-open & {
    @include filter(blur(5px));
  }
}

@include media("screen", "from-sm") {
  nav ~ section,
  section + footer {
    transition: filter $htd $hte;
    .has_no-backdropfilter.modal-is-open & {
      @include filter(blur(5px));
    }
    .has_no-backdropfilter .show-menu & {
      @include filter(blur(5px));

    //   transition: filter 1s $ease-in-sine .2s,
    //               opacity   $htd .1s $ease-in-sine,
    //               transform $htd $ease-out-quart;
    }
  }
}

body {
  &.images-loaded {
    #loading-page {
      opacity: 0;
    }
  }
  #loading-page {
    @include coverer(0, fixed);
    transition: opacity 1s $ease-out-quart 1s;
    background: black(0.9);
    z-index: 1040;
    pointer-events: none;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    #wineLoader {
      @include center(xy);
    }
  }
  .modal-is-open & {
    overflow-y: hidden !important;
  }
}
