.grid-container {
  @include display(grid);
  max-width: 860px;
  margin: 0 auto;
  > * {
    color: #fff;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 10px;
  }
  .grid-fullwidth {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}
@include media("screen", "from-md") {
  .grid-container {
    margin: 0 auto;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 275px 2rem auto 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    .sidebar { width: 19.1489%; }
    .content { width: 79.7872%; }
    .content {
      grid-column: 1 / -1 / -1;
    }
    header, footer {
      grid-column: 1 / -1;
      clear: both;
    }
  }
}
.grid-container > * {
  color: #fff;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 10px;
}
@supports (display: grid) {
    .grid-container > * {
    width: auto !important;
    margin: 0;
  }
}
