@include keyframe("jamesBond") {
	to   {
		shape-outside: circle(50% at center);
		clip-path: circle(50% at center);
	}
}

.modal-small {
	.modal {
		transition: height .4s $ease-out-cubic;
	}
	.alignright,
	.alignleft {
		shape-outside: circle(50% at center);
		clip-path: 	   circle(50% at center);
		// transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
		// @include animation(jamesBond, .3s, $ease-out-cubic, 1);
		// animation-fill-mode: forwards;
		max-width: 45%;
	}
	p {
		text-align: justify;
		hyphens: auto;
		strong {
			margin-bottom: .5em;
		}
	}

}





