
$modal-text: #f7f7f7;
$modal-bg: #111;

.modal li a {
  color: $modal-text !important;
  font-family: $sans-stack;
  font-weight: 100;
  font-size: 1rem;
  text-decoration: $modal-text solid underline !important;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  &:hover {
    text-decoration-style: wavy !important;
  }
}

// prevent triggering event handlers on links inside vc_grid
.vc_grid .modal-link a {
  pointer-events: none !important;
}

// prevent scrolling page when hovering over header
.modal-is-open .navbar {
  pointer-events: none;
  .top-burger {
    pointer-events: all;
  }
}

// close button in header
.close-modal {
  display: none;
  z-index: 100;
  overflow: hidden;
  cursor: pointer;
  .modal-is-open .top-burger > & {
    @include position(absolute, 0);
    display: block;
    &:hover { background-color: transparentize($red, 0.7); }
  }
}

// modal appear effect
.modal,
.modal-wrapper {
  display: none;
  opacity: 0;
  transition: opacity .5s ease-out;
              // backdrop-filter .5s .5s ease-out,
              // -webkit-backdrop-filter .5s .5s ease-out;
  .modal-is-open & {
    display: block !important;
    transition-delay: 0s, 0s, 0s;
  }
  &.show {
    opacity: 1;
  }
}

body.modal-is-loading {
  cursor: wait;
}

.modal-wrapper {
  pointer-events: none;
  @include position(fixed, 0);
  z-index: 1090;
  overflow-x: hidden;
  overflow-y: auto;
  &.show {
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    backdrop-filter: blur(20px) saturate(180%);
  }
  // &:not(.modal-small) {
    .close-modal { display: none; }
    top: $header-height;
  // }
  @include media("screen", "from-md") {
    &.modal-small {
      @include center(xy);
      @include position(fixed, 50% auto auto 50%);
      min-height: 40%;
      min-width: 60%;
      &::after {
        @include coverer;
        box-shadow: 0 10px 40px black(0.5);
      }
      .modal {
        @include position(relative, 0);
        @include transform(none);
        min-height: 500px;
      }
    }
  }
}

.modal {
  position: absolute;
  pointer-events: all;
  overflow-y: auto !important;
  background-color: transparentize($modal-bg, .05);
  .has_backdropfilter & {
    background-color: transparentize($modal-bg, .1);
  }
  padding: 2rem;
  @include media("screen", "to-md-devX") {
    padding: 1rem;
  }
  .close-modal {
    @include position(absolute, 0 NULL NULL 12px);
    display: none;
    .modal-small & {
      display: block;
    }
    font: 100 2.5rem/1 sans-serif !important;
    color: $modal-text;
    &:hover { color: lighten($light-red, 10); }
  }

  #modal-content {
    #wineLoader {
      @include center(xy);
      // opacity: ;
    }
    > section {
      padding: 80px 0 60px !important;
    }
    h1, h2, h3, h4 {
      color: $modal-text;
    }
    h1 { font-size: 2.5rem; }
    a { color: $modal-text; }
    blockquote {
      padding: 0 1rem;
      font-size: 1.7rem;
      text-align: center;
    }
    .modal-small & {
      h1 {
        font-size: 1.8rem;
        margin-top: 0;
      }
      h2 {
        margin: 1rem 0 0.5rem;
        font-size: 1.3rem;
        color: $light-red;
      }
      p {
        font-size: 0.9rem;
        line-height: 1.6;
        text-align: left;
        color: $modal-text;
        .has_no-csshyphens & {
          text-align: left;
        }
      }
    }
  }

  .modal-small & {
    @include center(xy);
    height: auto !important;
    overflow: auto;
    min-height: 40%;
    max-height: 80vh;
    min-width: 60%;
    border-radius: 4px;
    img {
/*       border-radius: 100% 0 100% 100%; */
      border-radius: 4px;
      margin: 1rem;
/*       shape-outside: circle(50% at center); */
      max-width: 35%;
    }
    @include media(mobile) {
      @include size(100%);
      min-height: 100%;
      padding: 2rem;
      margin-top: $header-height;
      .close-modal { display:none; }
    }
    @include media("screen", "from-sm") {
      #modal-content {
        padding: 1rem;
      }
    }
    @include media("ipad") {
/*       padding: 0 2rem 2rem; */
/*       width: 75%; */
      #modal-content {
        padding: 2rem;
        font-size: 1.3rem;
        line-height: 1.3;
      }
      img {
        width: 150%;
      }
    }
  }
}
