
$text-color: #f7f7f7;
$modal-bg: #000;

.grid-container {
  display: grid;
  grid-gap: 20px;
  max-width: 991px;
  margin: 0 auto;
  > * {
    color: #fff;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 10px;
  }
}
@include media("screen", "from-md") {
  .sidebar { width: 19.1489%; }
  .content { width: 79.7872%; }
  .grid-container {
    margin: 0 auto;
    grid-template-columns: 5fr 200px;
  }
  header, footer {
    grid-column: 1 / -1;
    clear: both;
  }
}
.modal .grid-container > * {
  color: #fff;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 10px;
}
@supports (display: grid) {
    .grid-container > * {
    width: auto;
    margin: 0;
  }
}
.modal-wrapper {
  z-index: 1032;
}

.modal {
  overflow: auto !important;
  padding: 1rem 3rem 2rem;
  background-color: transparentize($modal-bg, .2);
  -webkit-backdrop-filter: blur(10px);
  color: $text-color !important;
  box-shadow: none;
  @include media("screen", "from-xxs-dev", "to-md-dev", "retina") {
    padding: 1rem;
  }
  .close-modal {
    @include position(fixed, 10px NULL NULL 10px);
    z-index: 100;
    overflow: hidden;
    font: 100 5rem/0.5 $sans-stack !important;
    color: $text-color;
    cursor: pointer;
    &:hover { color: lighten($light-red, 2); }
  }
  .modal-wrapper:not(.modal-small) & {
    top: 80px;
    .close-modal {
      top: 90px;
    }
  }
  #modal-content {
    > section {
      padding: 2rem 0 !important;
        transition: filter $tduration ease;
        .modal-open & {
            @include filter(blur(5px));
            pointer-events: none;
            @supports (-webkit-backdrop-filter: blur) {
                @include filter(none);
            }
        }
    }
    h1, h2, h3, h4 {
      color: $text-color;
      margin-bottom: .5rem;
    }
    h1 {
      font-size: 2.5rem;
      color: $text-color;
    }
    a { color: $text-color; }
    blockquote {
      padding-left: 1rem;
      font-size: 1.7rem;
    }
    .modal-small & {
      h1 { font-size: 1.8rem; }
      h2 {
        margin: 1rem 0 0;
        font-size: 1.3rem;
        color: $light-red;
      }
      p {
        font-size: 0.9rem;
        line-height: 1.6;
        text-align: left;
        color: $text-color;
        .has_no-csshyphens & {
          text-align: left;
        }
      }
    }
  }
  .modal-small & {
    @include center(xy);
    height: auto !important;
    min-height: 40%;
    min-width: 60%;
    img {
      border-radius: 100% 0 100% 100%;
    }
    a img {
      shape-outside: circle(50% at center);
      max-width: 45%;
    }
    @include media("screen", "to-sm") {
      @include size(100%);
      min-height: 100%;
      padding: 2rem 2rem 2rem;
    }
    @include media("screen", "from-sm") {
      padding: 0 1rem 0;
      width: 50%;
      #modal-content {
        padding: 2rem;
      }
    }
    @include media("ipad") {
      padding: 0 2rem 2rem;
      width: 75%;
      #modal-content {
        padding: 2rem;
        font-size: 1.3rem;
        line-height: 1.3;
      }
      img {
        width: 150%;
      }
    }
  }
}




