// Rebsorten Grid

.rebsorten-grid-item {
  .normal-state,
  .hover-state {
    background: none !important;
    @include display(flex);
    align-items: center;
    justify-content: center;
    // will-change: opacity, transform; 
    
    @include media("from-xxs-devX", "to-sm-devY") {
      height: 180px !important;
    }
    @include media("from-xs-devX", "to-lg-devY") {
      height: 220px !important;
    }
    @include media("ipad") {
      height: 220px !important;
    }
    // Wasserzeichen
    .vc_gitem-zone-img {
      @include position(absolute, 2rem NULL NULL 0);
      display: block !important;
      visibility: visible;
      opacity: .06;
      // -moz-backface-visibility: hidden;
      @include media("screen", "to-md") {
        top: 1.5rem;
      }
    }
  }
  .vc_grid-item-mini {
    box-shadow: 0 3px 5px rgba(90,50,50,.09), 0 1px 3px rgba(0,0,0,.07);
    border: 2px solid #f8f8f8;
    background: #fff;
  }
  .normal-state {
    .vc_gitem-row-position-top {
      position: inherit;
      .vc_custom_heading {
        // Bezeichnung
        @include brand-title(1.7rem, 5.5rem, none );
        @include media("mobile") {
          margin: 0 !important;
          min-height: 1.6rem !important;
          padding: 0;
          &::after { margin-top: 0.5rem; }
          h2 { font-size: 1.3rem !important; }
        }
        @include media("ipad") {
          h2 { font-size: 1.2rem !important; }
        }
        h2 { all: inherit; }
      }
      // Fundnummer
      .vc_gitem-acf {
        @include brand-nr(2rem);
        @include media("ipad") {
          font-size: 1.6rem !important;
        }
      }
    }
  }
  .hover-state {
    // Zitat
    .grid-zitat {
      height: 2.8rem;
      font: normal 600 1.3em/1.1 $sans-stack;
      letter-spacing: -1px;
      color: $light-red;
      @include hyphens(auto);
      @include media("to-md-devX") {
        height: auto;
        font-size: 1em;
      }
      &::before { content: open-quote;  }
      &::after  { content: close-quote; }
    }
    .rebsorten-grid-excerpt {
      // Kurztext
      @include media("mobile") {
        display: none;
      }
      @include media("ipad") {
        display: none;
      }
      p {
        font: normal 400 1.1em/1.4 $serif-stack;
        letter-spacing: -0.8px;
        text-align: center;
        text-align-last: center;
        .has_shapes & {
          text-align: justify;
        }
        @include hyphens(auto);
        color: #444;
      }
    }
    .left-flow, .right-flow {
      @include size(50% 260px);
      shape-margin: 7px;
    }
    .left-flow {
      float: left;
      -webkit-shape-outside: polygon(0% 0%, 9%  0%, 9%  20%,15% 43%,25% 55%,30% 60%,35% 65%,45% 70%,65% 80%,100% 90%,100% 100%,0% 100% );
         -moz-shape-outside: polygon(0% 0%, 9%  0%, 9%  20%,15% 43%,25% 55%,30% 60%,35% 65%,45% 70%,65% 80%,100% 90%,100% 100%,0% 100% );
              shape-outside: polygon(0% 0%, 9%  0%, 9%  20%,15% 43%,25% 55%,30% 60%,35% 65%,45% 70%,65% 80%,100% 90%,100% 100%,0% 100% ); }
    .right-flow {
      float: right;
      -webkit-shape-outside: polygon(0% 90%,33% 80%,55% 70%,65% 65%,70% 60%,75% 55%,85% 43%,92% 20%,92%  0%,100%  0%,100% 100%,0% 100% );
         -moz-shape-outside: polygon(0% 90%,33% 80%,55% 70%,65% 65%,70% 60%,75% 55%,85% 43%,92% 20%,92%  0%,100%  0%,100% 100%,0% 100% );
              shape-outside: polygon(0% 90%,33% 80%,55% 70%,65% 65%,70% 60%,75% 55%,85% 43%,92% 20%,92%  0%,100%  0%,100% 100%,0% 100% ); }
 
  }
}
