// Rebsorten Grid

.rebsorten-grid-item {
  .normal-state,
  .hover-state {
    background: none !important;
    @include display(flex);
    align-items: center;
    justify-content: center;
    @include media("screen", "to-md-dev") {
      height: 200px !important;
    }
    @include media("ipad") {
      height: 220px !important;
    }
    // Wasserzeichen
    .vc_gitem-zone-img {
      display: block !important;
      position: absolute;
      top: 2rem;
      left: 0;
      @include media("screen", "to-md") {
        top: 1rem;
      }
      @include media("screen", "to-xs") {
        top: 1.5rem;
      }
      visibility: visible;
      opacity: .06;
    }
  }
  .normal-state {
    .vc_gitem-row-position-top {
      position: inherit;
      .vc_custom_heading {
        // Bezeichnung
        @include brand-title(1.7rem, 5.5rem, none );
        @include media("screen", "to-sm") {
          margin: 0 !important;
          min-height: 1.6rem !important;
          padding: 0;
          &::after { margin-top: 0.5rem; }
          h2 { font-size: 1.1rem !important; }
        }
        @include media("ipad") {
          h2 { font-size: 1.2rem !important; }
        }
        h2 { all: inherit; }
      }
      // Fundnummer
      .vc_gitem-acf {
        @include brand-nr(2rem);
        @include media("screen", "to-sm") {
          font-size: 1.4rem !important;
          padding-top: 0.2rem;
        }
        @include media("ipad") {
          font-size: 1.6rem !important;
        }
      }
    }
  }
  .hover-state {
    .more-button {
      margin-bottom: 0;
      font-family: $sans-stack;
    }
    .grid-zitat {
      height: 2.8rem;
      font: normal 500 0.85rem/1.2 $sans-stack;
      text-align: left;
      letter-spacing: -1px;
      color: $light-red;
      @include hyphens(auto);
      @include media("screen", "from-xxs-dev", "to-md-dev", "retina") {
        height: auto;
      }
      @include media("screen", "from-xxs-dev", "to-md-dev", "retina") {
        font-size: 1.1em;
      }
      &::before { content: open-quote;  }
      &::after  { content: close-quote; }
    }
    .rebsorten-grid-excerpt {
      @include media("screen", "to-md-dev") {
        display: none;
      }
      @include media("ipad") {
        display: none;
      }
      p {
        padding-top: 0.5em;
        font: normal 400 1.1em/1.4 $serif-stack;
        letter-spacing: -0.8px;
        text-align: center;
        .has_csshyphens & {
          text-align: justify;
        }
        text-align-last: center;
        @include hyphens(auto);
        color: #444;
      }
    }
    .left-flow, .right-flow {
      @include size(50% 270px);
      shape-margin: 7px;
    }
    .left-flow {  -webkit-shape-outside: polygon(0% 0%,  9%  0%,  9%  20%,  15% 43%,  25%  55%, 30%  60%, 35% 65%, 45% 70%, 65% 80%, 100% 90%, 100% 100%,  0% 100% );
                     -moz-shape-outside: polygon(0% 0%,  9%  0%,  9%  20%,  15% 43%,  25%  55%, 30%  60%, 35% 65%, 45% 70%, 65% 80%, 100% 90%, 100% 100%,  0% 100% );
                          shape-outside: polygon(0% 0%,  9%  0%,  9%  20%,  15% 43%,  25%  55%, 30%  60%, 35% 65%, 45% 70%, 65% 80%, 100% 90%, 100% 100%,  0% 100% ); }

    .right-flow { -webkit-shape-outside: polygon(0% 90%, 33% 80%, 55% 70%,  65% 65%,  70%  60%, 75%  55%, 85% 43%, 92% 20%, 92%  0%, 100%  0%, 100% 100%,  0% 100% );
                     -moz-shape-outside: polygon(0% 90%, 33% 80%, 55% 70%,  65% 65%,  70%  60%, 75%  55%, 85% 43%, 92% 20%, 92%  0%, 100%  0%, 100% 100%,  0% 100% );
                          shape-outside: polygon(0% 90%, 33% 80%, 55% 70%,  65% 65%,  70%  60%, 75%  55%, 85% 43%, 92% 20%, 92%  0%, 100%  0%, 100% 100%,  0% 100% ); }

    .more-button a:after {
      content: "";
      @include position(absolute, NULL NULL -1em 0);
      @include size(100% 1em);
      display: block;
      background-color: #fff;
    }
  }
}