.small-modal {
	.alignright,
	.alignleft {
		shape-outside: circle(0% at center);
		clip-path: circle(0% at center);
		// transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
		@include animation( jamesBond .5s $ease-in-out-cubic 1 );
	}
}

@include keyframe(jamesBond) {
	from {
		shape-outside: circle(0% at center);
		clip-path: circle(0% at center);
	}
	to   {
		shape-outside: circle(50% at center);
		clip-path: circle(50% at center);
	}
}

