.view-pdf {
  position: relative;
  display: inline-block;
  width: 200px;
  float: none;
  @include transition(all 0.3s ease);
  img {
    @include transition(all 0.3s ease);
    @include pgBorder;
    padding: 2px;
    overflow: hidden;
    border: 5px solid rgba(0, 0, 0, 0.15);
    // background-clip: content-box;
    transform: scale(1);
  }
  &:after, &::before {
    @include coverer(50%);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: hr-icons;
    @include transition(all 0.3s ease);
    font-size: 6rem !important;
    line-height: 0;
    color: $red;
    pointer-events: none;
  }
  &::before {
    content: "\e04d";
    z-index: 1;
    opacity: 0;
  }
  &::after {
    content: "\e921";
    opacity: 0.7;
  }
  &:hover {
    &::after {
      opacity: 0;
    }
    &::before {
      transition-delay: 0.1s;
      opacity: 0.4;
      font-size: 10em;
    }
    img {
      @include filter(none);
      border-width: 0;
      overflow: visible;
      transform: scale(1.175);
    }
  }
  @include media("screen", "to-sm") {
    margin: 0 auto;
    display: block;
  }
}
