// ===============================================================//endregion
// Global
// ==================================================================//region

:root {
  box-sizing: border-box;
  height: 100%;
}

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

*, :after, :before, button, input, textarea {

  // inherit box-sizing from :root
  box-sizing: inherit;

  // no subpixel antialiasing on non-retina displays


  // @include media("retina") {
  //   -webkit-font-smoothing: subpixel-antialiased !important;
  // }

  @if ($debug) { // visualizing layout internals
    outline: 1px dotted red;
  }

}

body {
  width: 100%;
  overflow-y: auto !important;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  > section {
    overflow: hidden;
  }
  // .has_no-hiddenscroll & {
  //   padding-right: 1em;
  // }
}

input, textarea, select {
  padding: 8px 15px;
  border: 1px solid hsl(0, 0%, 87%);
  margin: 0 0 20px 0;
  width: 100%;
  font-size: 12px;
  font-family: $serif-stack;
  letter-spacing: -1px;
  max-width: 100%;
  resize: none;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

iframe {
  border: 0;
}

// images

img.wp-post-image,
img.size-large, 
img.size-full,
img {
  max-width: 100%;
  height: auto;
}
 
// Landscape blocker

#landscape-blocker {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  text-align: center;
  display: none;
  background-color: black(0.9);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  backdrop-filter: blur(20px) saturate(180%);
  .modal-is-open &,
  .mfp-search-open & {
    display: none !important;
  }
  .inner {
    @include center(xy);
    width: 90%;
    p {
      color: #efefef !important;
      letter-spacing: 0.03em;
      font-size: 1.375em;
      line-height: 1.2em;
      font-family: $sans-stack;
    }
  }
}

@include media("landscape", "to-sm-devX") {
  #landscape-blocker {
    display: block;
  }
}

