$icomoon-font-path: "../fonts" !default;

$icon-file-pdf: "\e921";
$icon-logo-bg-path1: "\e900";
$icon-logo-bg-path2: "\e901";
$icon-logo-bg-path3: "\e90f";
$icon-logo-bg-path4: "\e910";
$icon-logo-bg-path5: "\e911";
$icon-logo-combined-path1: "\e912";
$icon-logo-combined-path2: "\e917";
$icon-logo-combined-path3: "\e918";
$icon-logo-combined-path4: "\e919";
$icon-logo-combined-path5: "\e91a";
$icon-logo-combined-path6: "\e91b";
$icon-logo-combined-path7: "\e91c";
$icon-logo-combined-path8: "\e91d";
$icon-logo: "\e913";
$icon-wortmarke-path1: "\e914";
$icon-wortmarke-path2: "\e91e";
$icon-wortmarke-path3: "\e91f";
$icon-wortmarke-path4: "\e920";
$icon-fa-angle-up: "\e915";
$icon-fa-angle-right: "\e916";
$icon-fa-angle-left: "\e902";
$icon-fa-angle-down: "\e903";
$icon-arrow-up: "\e904";
$icon-arrow-right: "\e905";
$icon-triangle-up: "\e906";
$icon-triangle-down: "\e907";
$icon-arrow-down: "\e908";
$icon-arrow-left: "\e909";
$icon-sprout: "\e90e";
$icon-grape-3: "\e90c";
$icon-grape: "\e90d";
$icon-grape-2: "\e90a";
$icon-grape-4: "\e90b";
$icon-phone: "\e004";
$icon-search: "\e007";
$icon-calendar: "\e00d";
$icon-picture: "\e00f";
$icon-wallet: "\e016";
$icon-hourglass: "\e01f";
$icon-flag: "\e024";
$icon-map: "\e025";
$icon-puzzle: "\e026";
$icon-envelope: "\e028";
$icon-telescope: "\e02a";
$icon-gears: "\e02b";
$icon-link: "\e02e";
$icon-tags: "\e02f";
$icon-bulb: "\e030";
$icon-tools: "\e034";
$icon-find: "\e037";
$icon-beaker: "\e03c";
$icon-warn: "\e03d";
$icon-male: "\e040";
$icon-female: "\e041";
$icon-wine: "\e043";
$icon-globe: "\e045";
$icon-genius: "\e046";
$icon-map-pin: "\e047";
$icon-chat: "\e049";
$icon-heart: "\e04a";
$icon-download: "\e04d";
$icon-global: "\e052";
$icon-clock: "\e055";
$icon-facebook: "\e05d";
$icon-twitter: "\e05e";
$icon-googleplus: "\e05f";
$icon-rss: "\e060";
$icon-tumblr: "\e061";
$icon-linkedin: "\e062";
