// =============================================================================
//   Typography
// =============================================================================

// Quotes

:root {
  quotes: "„" "“" "‚" "‘";
}

// Headings

.menu-item a,
.slider-typography,
h1, h2, h3, h4, h5, h6 {
  font-family: $sans-stack;
  text-transform: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2rem 0 1rem;
}

h1, h2, h3 {
  font-weight: 700;
  letter-spacing: -0.07rem !important;
}

h1 { font-size: 2.1rem; }
h2 { font-size: 1.9rem; }
h3 { font-size: 1.7rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }

// Paragraphs

p {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: -0.0115rem;
  hyphens: auto;
  color: $text-color;
  .pilcrow:after {
    content: "\2761"; // \2767 \2761
    padding-right: 0.3rem;
    color: lighten(#888, 20);
  }
}

strong {
  color: $red;
  font-weight: 600;
}

@mixin headerstyle-2($font-size) {
  font: 600 $font-size/1 $sans-stack;
  letter-spacing: -0.06rem;
  color: $red;
  // -webkit-font-smoothing: subpixel-antialiased !important;
}

// Onepage section headings

.section-heading {
  margin: 2rem 0;
  position: relative;
  .subheader {
   .home &::after {
      content: "\2766";
      display: block;
      margin: 2rem -1rem 1rem;
      font-size: 2rem;
      text-align: center;
      color: hsl(0, 0%, 80%);
    }
    .grey-bg & { background: #eee !important; }
    .section-title {
      padding: 0;
      margin: 1rem 0 .5rem;
      @include media("screen", "to-md-dev") {
        margin: 1.7rem -4rem .5rem;
      }
      font: 800 calc(2.5rem)/1 $sans-stack !important;
      color: $red;
      &::after {
        content: '';
        @include position(absolute, -35% NULL NULL 5%);
        @include size(150%);
        z-index: 0;
        pointer-events: none;
        background: radial-gradient(circle farthest-side at top,
                                    rgba(255, 255, 255, 0.6 ) 0,
                                    rgba(255, 255, 255, 0) 100%);
        .grey-bg & {
          background: radial-gradient(circle farthest-side at top,
                                    rgba(238, 238, 238, 0.6) 0,
                                    rgba(255, 255, 255, 0) 100%);
        }
        @include media("screen", "to-xs") {
          @include position(absolute, 10% NULL NULL -10%);
          @include size(150% 60%);
        }
      }
    }
    h6 {
      max-width: 25rem;
      padding: 0;
      margin: 0.5rem auto 0;
      font-size: 1.5rem;
      line-height: 1.3;
      font-weight: 300;
      letter-spacing: -0.05em !important;
      color: #777;
      @include media("screen", "to-md-dev") {
        font-size: 1.2rem;
        max-width: 15rem;
      }
    }
  }
  &.no-subtitle .subheader .section-title {
    margin: 4rem 0 0;
  }
  @include media("screen", "to-sm") {
    margin: 0 0 1rem;
    .subheader {
      margin: 0 !important;
      .section-title {
        padding: 0 1rem 0 !important;
      }
    }
  }
}

.about-section {
  .subheader {
    .section-title {
      font-size: 1.6rem !important;
      margin-bottom: 0.5rem;
    }
  }
}

// Post content

blockquote {
  line-height: 1.2;
  padding: 1em;
  font-family: $serif-stack;
  font-size: 2em;
  font-style: italic;
  quotes: "„" "“" "‚" "‘";
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}

.blog-short-description {
  background-color: #fff !important;
}

// hr::before {
//   content: "\2727\2003\2003\2727\2003\2003\2727";
//   font-size: 1.5rem;
//   text-align: center;
//   margin: 1em auto;
//   height: auto;
//   border: transparent solid 0;
//   background: transparent;
// }
