.modal .wpcf7 {
  * {
    font-family: $sans-stack;
  }
  p { 
    margin: 0;
  }
  input,
  textarea {
    margin: 0;
    color: #fff;
    background-color: transparent;
    font-size: 1.1rem;
    font-weight: 300;
    border-color: white(0.2);
    border-radius: 3px;
    &:focus {
      border-color: white(0.5);
      background-color: white(0.03);
    }
  }
  textarea {
    height: 8rem;
  }
  .wpcf7-form-control-wrap {
    display: block;
    margin: 0 0 .2rem;
  }
  .wpcf7-response-output {
    margin: 0;
    color: #fff;
  }
  .wpcf7-not-valid-tip {
    color: lighten($red, 25);
  }
  .wpcf7-recaptcha {
    .has_no-flexbox & {
      width: 50%;
      float: left;
    }
  }
  .wpcf7-submit {
    height: 76px;
    .has_no-flexbox & {
      width: 50%;
      float: right;
    }
    &:hover {
      background-color: white(0.1);
    }
  }
  .wpcf7-submit-container {
    display: flex;
    > p {
      width: 100%;
    }
  }
}
 
