// Custom Post Template

$text-color: #f7f7f7;
$modal-bg: #000;

.grid-container{
  .brand-wrapper {
    @include display(flex);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include size(get-vw(250px) get-vw(150px));
    margin: 0 auto;
    .single & {
      margin-top: -450px;
      @include center(xy);
    }
    .watermark {
      position: absolute;
    }
    h2 {
      opacity: 0;
      animation: Appear 1s linear 1.5s forwards 1;
    }
    .rebsorte-title {
      @include brand-title(1.5rem);
      .single & {
        color: #333;
      }
    }
    .ursprungsnummer-title {
      @include brand-nr(1.8rem);
      color: $light-red !important;
    }
  }
  .content,
  .sidebar {
    opacity: 0;
    color: $text-color;
    .single & {
      color: #333;
    }
    animation: Appear 1s linear 1s forwards 1;
    h2, h3 {
      margin: 2rem 0 1rem;
      text-transform: none;
      font-weight: 700;
      color: $light-red;
    }
    p {
      font-size: 0.86rem;
      color: $text-color;
      .single & {
        color: #333;
      }
    }
  }
  // hr::before {
  //   content: "\2727\2003\2003\2727\2003\2003\2727";
  //   font-size: 1.5rem;
  //   text-align: center;
  //   margin: 1em auto;
  //   height: auto;
  //   border: transparent solid 0;
  //   background: transparent;
  // }
  .content {
    .rebsorte-status {
      position: relative;
      .rebsorte-status-icons {
        @include display(flex);
        align-items: center;
        justify-content: space-around;
        position: absolute;
        width: 100%;
        height: 4em;
        color: #eee;
        span {
          font-family: $sans-stack;
          font-weight: 700;
        }
        i {
          font-size: 1.5em;
          color: inherit;
          &::before {
            margin-right: .2em;
            vertical-align: middle;
          }
        }
      }
    }
    $winzerSize: 132px;
    .partnerwinzer {
      @include display(flex);
      // margin-bottom: 1rem;
      ul {
        padding: 0;
        list-style-type: none;
        li {
          @include size($winzerSize + 10px);
          display: inline-block;
          margin-right: 0.2rem;
          @include pgBG;

          a.modal-link {
            @include size($winzerSize);
            display: table-cell;
            @include pgBBG;
            img {
              background: $light-red;
            }
          }
        }
      }
    }
    .section-science {
      font-size: 1.6rem;
      line-height: 1;
      color: #333;
    }
    .rebsorte-featured-image-thumb {
      padding: 0 0 1rem 1rem;
    }
    &:first-of-type::after {
        content: "";
        @include position(absolute, NULL 0);
        border-bottom: 3px double hsla(0, 0%, 100%, 0.2);
        margin: 2rem 3rem 0;
    }
  }
  .sidebar {
    color: $text-color;
    .rebsorte-featured-image-thumb {
      img {
        float: right;
        width: 200px;
        height: 200px;
      }
    }
    .view-pdf {
      position: relative;
      display: inline-block;
      border: 1px solid #dadada;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
      width: 150px;
      float: none;
      // pointer-events: none;

      img {
        @include filter(blur(2px));
        @include transition(filter .5s ease);
      }
      &:after {
        @include font-awesome("");
        @include coverer(50%);
        @include transition(all .5s ease);
        font-size: 7em;
        line-height: 0;
        color: #d33;
        pointer-events: none;
      }
      &:hover {
        &:after {
          content: "";
          opacity: 0.5;
          // font-size: 13em;
        }
        img {
          @include filter(none);
        }
      }
    }
  }
}


