
// ===============================================================//endregion
// Home
// ==================================================================//region

//
// TODO
//
// => try to somehow remove .no-padding-bottom class
section,
.no-padding-bottom {
    padding-bottom: 200px !important;
//     padding-top: 60px;
;}

.vc_grid {
  .vc_col-sm-3,
  .vc_col-sm-4 {
    // @include media("from-lg") { width: 33%; }
    // @include media("from-xl") { width: 33%; }
    // @include media("to-md")   { width: 33%; }
    @include media("from-md") { width: 33%; }
    @include media("to-md")   { width: 50%; }
    @include media("ipad")    { width: 33%; }
  }
}

section#slider {
  background-color: #444;
  .owl-prev, .owl-next {
    .fa {
      color: #fff;
    }
    &:before {
      background-color: transparentize(#000, 0.7);
    }
    &:hover:before {
      background-color: transparentize(#fff, 0.7)
    }
  }
}
section#about {
  .subheader {
    .icon-image {
      display: none;
    }
    h3.section-title {
      // color: lighten($red, 5) !important;
      margin-top: 1em;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: -0.02em;
      text-transform: capitalize;
      font-size: 2em !important;
      color: #e76b6d !important;
      // padding: 1rem !important;
    }
  }
}
section#mission {
  .mission-col {
    @include media("screen", "from-md", "to-xl") {
      width: 100%;
    }
  }
  .first-word {
    color: $red;
    font-weight: bold;
  }
  .mission-grid {
    .vc_col-sm-3 {
      max-height: 10%;
      @include media("from-xl") { width: 25%; }
      @include media("to-xl")   { width: 50%; }
      @include media("to-xs")   { width: 100%; }
      @include media("from-sm", "to-lg") {
        &:nth-of-type(odd) { left: 5%; }
        &:nth-of-type(even) { right: 5%; }
      }
      @include media("from-lg", "to-xl") {
        &:nth-of-type(odd) { left: 10%; }
        &:nth-of-type(even) { right: 10%; }
      }
    }

    h3,
    .tagline,
    .mission-description-acf {
      margin: 0 auto;
      @include headerstyle-2(1.8em);
      text-align: center !important;
      max-width: 8em;
      color: #7b7b7b;
      -webkit-font-smoothing: subpixel-antialiased !important;
      // @include media("screen", "from-xxs-dev", "to-md-dev", "retina") {
      //   font-size: 1em !important;
      // }
    }
    .tagline {
      &:before {
        content: "Wir ";
        font-weight: 800;
        color: $red;
      }
    }
    .mission-description-acf {
      &:after {
        content: "\:";
      }
      font-size: 1.6em;
      font-weight: 500;
      color: #fff;
      text-shadow: 0 0 30px rgba(25, 25, 25, 0.74);
    }
    h3 {                        // Name
      color: rgba(221, 51, 51, 0.8);
      text-transform: none;
    }
    .wpb_single_image {
      max-width: 280px;
      margin: 0 auto !important;
    }
  }
  .vc_is-hover .vc_figure {
    position: relative;
    &:before {
      @include coverer(0);
      @include size(100%);
      content: "";
      background: transparentize(#fff, .5);
    }
  }
  .wpb_single_image {
    padding: 20px;
    margin: 20px !important;
    // background: #fff;
    // border: 1px solid $red;
    // border-left: 4px solid $red;
    // border-right: 4px solid $red;
  }
  .vc_gitem-zone-c {
    margin-top: -1.5em;
  }
}
section#rebsorten {
  .vc_col-sm-4 {
    @include media("to-xxs")   { width: 100%; }
  }
  .logo-description {
    opacity: 1;
    transform: scale(0.8);
    margin: -4.5em 0 0 0em !important;
    img {
      width: 200px !important;
    }
    .vc_custom_heading {
      padding: 0;
      margin-top: -1em;
      h2 {
        height: 1em;
        font-size: 2.3em;
        display: block;
        min-height: 1.4em;
      }
    }
    .vc_gitem-acf {
      display: block;
      max-width: 3em;
      font-size: 2.2em !important;
    }
    .vc_grid-item-mini {
      border: none;
    }
  }
  .logo-description-text {
    p {
      text-align: left;
    }
    strong {
      color: $red;
    }
  }
}
section#partner {
  .vc_grid-item {
    h3 {
      font-size: 1.5em;
      color: #fff;
      text-shadow: 0 0 2px #000;
    }
  }
  .vc_col-sm-3 {
    @include media("from-xs")   { width: 25%; }
    @include media("to-xs")   { width: 50%; }
  }
}
section#blog {
  .section-title {
    padding-bottom: 0 !important;
  }
}
section#wortmarke {
  display: flex;
  align-items: center;
  .wortmarke {
    figure {
      display: flex;
      justify-content: center;
      pointer-events: none;
      &:hover {

      }
      &:before {
        @include coverer(0);
        content: "";
        width: 50vw;
        height: 20vw;
        margin: 0 auto;
        background-color: white;
        filter: blur(40px);
        transition: all .5s;
        opacity: .8;
      }
      &:hover img {
        opacity: 1;
      }
      &:hover:before {
        width: 60vw;
        height: 23vw;
        margin-top: -2.3vw;
        opacity: .95;
      }
      .vc_single_image-wrapper {
        position: relative;
        padding: 1.4vw;
        img {
          height: auto;
          width: 40vw;
        }
      }

    }
  }
}
section#counter {
  padding: 7vmax calc(5% - 10vmax) !important;
  margin: 10vmax 0 2vmax !important;
  .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include media("to-sm") {
      flex-direction: column;
      .col-xs-mobile-fullwidth {
        margin: 5vh 0;
        .icon-image { @include size(15vw); }
        .large-icon { font-size: 15vw !important; }
      }
    }
  }
  .col-xs-mobile-fullwidth {
    @include media("from-sm") {
      display: inline-block;
      float: none;
      width: 33%;
    }
    &:last-child .icon-image { filter: invert(1); }
  }
  .icon-image,
  .large-icon {
    margin-bottom: 2%;
  }
  .icon-image { height: 5.5vmax; }
  .large-icon { font-size: 5vmax !important; }
  .counter-title {
    color: #e44;
    font:normal 600 2.5em/1 "Open Sans", "Montserrat", sans-serif;
    letter-spacing: -0.04em;
    text-transform: capitalize;
  }
}
section#testimonials
  .owl-item p {
  //
  font-size: 16px;
}
