// Rebsorten Custom Post Template

// .margin-tb-30px {
//     width: 400px;
//     float: left;
//     margin-right: 3em;
// }

// .parallax-fix {
//     background-size: contain !important;
// }

.custom-post-header {
    margin-bottom: 1em;
    .flex-container {
        height: 300px;
        flex-direction: column;
        .watermark {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            img {
                width: 100%;
                max-width: 300px;
                padding: 0;
                opacity: .1;
                pointer-events: none;
                @include user-select-none;
                @include filter(invert(1));
            }
        }
        .rebsorte-title {
            display: table;
            padding: 0 1em .5em;
            border-bottom: 3px solid #dd3333;
            margin-bottom: .2em !important;
            color: $modal-text;
            @include brand-title(2em);
            max-width: 20%;
        }
        .ursprungsnummer-title  {
            @include brand-nr(2em);
        }
    }
    .rebsorte-featured-image {
        text-align: center;
    }
}

.rebsorte-featured-image-thumb {
    float: right;
    padding: 2px;
    border: 1px solid #dadada;
    margin: 0 1em 1em;
    img {
        width: 200px;
        height: 200px;
    }
}

.view-pdf {
    position: relative;
    display: inline-block;
    border: 1px solid #dadada;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    width: 150px;
    float: none;

    img {
        @include filter(blur(2px));
        @include transition(filter .5s ease);
    }
    &:after {
        @include font-awesome("");
        @include coverer(50%);
        @include transition(all .5s ease);
        font-size: 7em;
        line-height: 0;
        color: #d33;
        pointer-events: none;
    }
    &:hover {
        &:after {
            content: "";
            opacity: 0.5;
            // font-size: 13em;
        }
        img {
            @include filter(none);
        }
    }
}

p.wein-vorhanden i {
    font-size: 4em;
    display: block;
    margin-bottom: 10px;
}