// Custom Post Template

$text-color: #f7f7f7;
$modal-bg: #000;

.modal-is-open .rebsorte-template-default {
  // .navbar {
  //   visibility: hidden;
  //   pointer-events: none;
  // }
  // .modal-wrapper:not(.modal-small) .modal {
  //   top: 0;
  // }
}

#modal-content {
  .section-heading {
    display: none !important;
  }
}

.single {
  .logo-after { display: none; }
  section.hentry { padding: 0 !important; }
  > section {
    .grid-container {
      grid-template-rows: 0 2rem auto 1fr;
    }
    &.page-title { background-size: 168% !important;
      @include media("mobile") {
        background-size: cover !important;
      }
      .bg-black { background: hsla(0, 0%, 0%, 0.33); }
      .white-text { display: none; }
      ~ .hentry {
        .watermark svg { fill: hsla(0, 0%, 100%, 0.2); }
        .brand-wrapper {
          z-index: 1;
          position: fixed;
          @include center(x);
          top: 150px;
          h2 { font-size: 1.7rem; }
          .ursprungsnummer-title {
            font-size: 1.6rem !important;
            color: #fff !important; }
            .rebsorte-title::after { background: $red; } }
        .progress {
          padding: 0;
          background: rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.33);
        }
        #claim { display: none; }
        .modal-excerpt { text-align: left !important; }
        .section-heading {
          margin: 0 0 1rem;
          text-align: left;
          .subheader {
            padding: 0;
            font-size: 1.7rem;
            h2 {
              padding: 0;
              font-size: inherit !important;
              margin: 1rem 0 0; } } }
        b.quote-mark-left {  @include position(absolute, 50px NULL NULL -33px); }
        b.quote-mark-right { @include position(absolute, 13px -32px NULL NULL); }
        .separator::after, .separator::before { border-color: hsla(0, 0%, 0%, 0.1);}
        .content,
        .sidebar { color: #333;
          p { color: inherit; } } } }
  }
}

.modal .text-center h3 {
  padding: 1rem;
  margin: 0 auto;
  border-bottom: 1px double white(0.2);
}

.grid-container {
  .brand-wrapper {
    @include display(flex);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include size(230px);
    margin: 0 auto;
    .watermark {
      position: absolute;
    }
    h2 {
      opacity: 0;
      animation: Appear 1s linear 1.5s forwards 1;
    }
    .rebsorte-title {
      @include brand-title(1.5rem);
    }
    .ursprungsnummer-title {
      @include brand-nr(1.8rem);
      color: #fff !important;
    }
  }
  .content,
  .sidebar {
    opacity: 0;
    color: $text-color;
    animation: Appear 1s linear 1s forwards 1;
    h2, h3 {
      margin: 3rem 0 1.5rem;
      text-transform: none;
      font-weight: 500;
      color: $text-color;
      @include media(mobile) {
        text-align: center;
        margin-bottom: 2rem;
      }
    }
    h2 { font-size: 2rem; }
    h3 { 
      font-size: 1.5rem;
      font-weight: 400;
    }
    p {
      font-size: 0.9rem ;
      color: $text-color;
    }
  }
  .content {
    position: relative;
    > h2 { margin-top: 0; }
    .modal-excerpt p span {
      color: white(.5);
    }
    @include media(mobile) {
      padding: 1rem;
    }
    .rebsorte-status {
      position: relative;
      .rebsorte-status-icons {
        @include size(100% $progress-height);
        @include display(flex);
        align-items: center;
        justify-content: space-around;
        flex-grow: 1;
        position: absolute;
        color: #fff;
        @include media("to-lg-devY") {
          align-items: stretch;
          flex-direction: column-reverse;
          height: 12em;
          div {
            height: 3em;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 1px solid white(0.1);
            text-align: center;
          }
        }
        div {
          line-height: 0;
          span {
            font-family: $sans-stack;
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: -0.01rem;
          }
          &::before {
            margin-right: 0.5em;
            vertical-align: middle;
            font-size: 1.5rem;
            color: inherit;
          }
        }
      }
    }
    .progress {
      @include media("to-lg-devY") {
        height: 12em;
        z-index: -1;
        padding: 0;
      }
    }
    $winzerSize: 88px;
    .partnerwinzer {
      // @include display(flex);
      // margin-bottom: 1rem;
      ul {
        padding: 0;
        list-style-type: none;
        text-align: left;
        li {
          @include size($winzerSize + 22px);
          display: inline-block;
          &:last-of-type {
            margin-right: 0;
          }
          @include pgBorder;
          @include media("screen", "to-sm") {
            @include size(24% auto);
          }
          transition: box-shadow .5s ease-out;
          will-change: box-shadow;
          &:hover {
            box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.4), 
                              0 1px rgba(255, 255, 255, 0.05);
          }
          &:hover a {
            transform: scale(0.95);
          }
          a.modal-link {
            display: table-cell;
            @include pgContainerBg(0);
            background: white;
            transition: transform 0.5s cubic-bezier(0, 0.5, 0.5, 1);
            will-change: transform;
            img {
              background: white;
              @include size(100% auto);
            }
          }
        }
      }
    }
    .section-science {
      font-size: 1.6rem;
      line-height: 1;
      color: $light-red;
    }
    .featured-image-thumb {
      padding: 0;
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
  .sidebar {
    color: $text-color;
    .featured-image-thumb {
      display: inline-block;
      margin-bottom: -1.2rem;
      img {
        float: right;
        @include size(200px);
        width: 200px;
        height: 200px;
        padding: 5px;
        background: hsla(0, 0%, 0%, 0.15);
        display: block;
        height: 100%;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1),
                          0 1px rgba(255, 255, 255, 0.05);
      }
    }
  }
}


