.archive {
  .page-title-large {

    .text-center {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      h1 {
        // display: inline;
        margin: 0;
        font-size: 2.4rem;
        font-weight: 700;
        &::before,
        &::after {
          padding: 0 0.2rem;
          font-size: 3rem;
          font-weight: 400;
          color: white(0.15);
        }
        &::before { content: '['; }
        &::after { content: ']'; }
      }
      span {
        height: 0.6rem;
        font-family: $sans-stack;
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: -0.07rem;
        color: $red;
      }
    }
  }
}
