// ===============================================================//endregion
// ==== Helper Classes
// ==================================================================//region

.flex-container,
.flex-center {
    @include display(flex);
    justify-content: center;
    align-items: center;
}

.text-red {
  color: $red;
}

.bg-black {
  background: hsl(0, 0%, 0%);
}

.display-none {
  display: none;
}

.display-block {
  display: block !important;
}

.alignright {
  float: right;
  height: auto;
}

section {
  clear: both;
}

.no-padding {
  padding: 0 !important;
}

.center-col{ 
  float:none !important;
  margin-left:auto !important;
  margin-right:auto !important;
  clear: both;
}

.col2-layout .container { width: 100%;}

.separator-line {
  height: 2px;
  margin: 0 auto;
  width: 30px;
  margin: 7% auto;
}

.no-margin-lr {
  margin-left: 0!important;
  margin-right: 0!important;
}

.margin-two {
  margin-top: 2% !important;
  margin-bottom: 2% !important;
}

.margin-four {
  margin-top: 4% !important;
  margin-bottom: 4% !important;
}

.margin-three-bottom { margin-bottom: 3% !important}

.margin-0auto,
.sm-margin-0auto,
.xs-margin-0auto {
  margin: auto !important;
}

.opacity-medium {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  z-index: 1;
  top: 0;
  left: 0;
}

.page-title-large {
  min-height: 450px;
  padding: 240px 0 0;
}

.parallax-fix {
  position: relative;
  background-size: cover !important;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}


/* social icon */
.social-icon .fa { text-align: center; display: table-cell; vertical-align: middle; width: 30px; height: 30px !important; line-height: 1; font-size: 14px; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; color: #fff; background: none; }
.social-icon:hover .fa { opacity:.8} 
.social-icon .fa-pinterest { background-color: #cb2027; }
.social-icon .fa-pinterest-p { background-color: #cb2027; }
.social-icon .fa-rss  { background-color: #f26522; }
.social-icon .fa-facebook  { background-color: #3b5998; }
.social-icon .fa-twitter  { background-color: #00aced; }
.social-icon .fa-flickr  { background-color: #ff0084; }
.social-icon .fa-dribbble  { background-color: #ea4c89; }
.social-icon .fa-behance  { background-color: #42a9fb; }
.social-icon .fa-linkedin  { background-color: #007bb6; }
.social-icon .fa-vimeo-square  { background-color: #aad450; }
.social-icon .fa-youtube  { background-color: #bb0000; }
.social-icon .fa-tumblr  { background-color: #32506d; }
.social-icon .fa-github-alt  { background-color: #333333; }
.social-icon .fa-github  { background-color: #333333; }
.social-icon .fa-external-link  { background-color: #000; }
.social-icon .fa-google-plus  { background-color: #dd4b39; }
.social-icon .fa-instagram  { background-color: #517fa4; }
.social-icon .fa-soundcloud  { background-color: #f80; }
.social-icon-large { margin-right:20px; }
.social-icon-large .fa { font-size:25px; background: transparent; color: #000; text-align: center; display: table-cell; vertical-align: middle; width: 60px; height: 60px !important; line-height: 1; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }
.social-icon-large:hover .fa { color:#fff}
.social-icon-large:hover .fa-pinterest{ background-color: #cb2027; }
.social-icon-large:hover .fa-rss{ background-color: #f26522; }
.social-icon-large:hover .fa-facebook  { background-color: #3b5998; }
.social-icon-large:hover .fa-twitter{ background-color: #00aced; }
.social-icon-large:hover .fa-flickr{ background-color: #ff0084; }
.social-icon-large:hover .fa-dribbble { background-color: #ea4c89; }
.social-icon-large:hover .fa-behance  { background-color: #42a9fb; }
.social-icon-large:hover .fa-linkedin  { background-color: #007bb6; }
.social-icon-large:hover .fa-vimeo-square  { background-color: #aad450; }
.social-icon-large:hover .fa-youtube  { background-color: #bb0000; }
.social-icon-large:hover .fa-tumblr  { background-color: #32506d; }
.social-icon-large:hover .fa-delicious  { background-color: #3274d1; }
.social-icon-large:hover .fa-reddit  { background-color: #ff1a00; }
.social-icon-large:hover .fa-digg  { background-color: #1b5891; }
.social-icon-large:hover .fa-stumbleupon  { background-color: #ff1a00; }
.social-icon-large:hover .fa-github-alt  { background-color: #333333; }
.social-icon-large:hover .fa-google-plus  { background-color: #dd4b39; }
.social-icon-large:hover .fa-instagram  { background-color: #517fa4; }
.social-icon-large:hover .fa-soundcloud  { background-color: #f80; }
.social-icon-large:hover .fa-vk { background-color: #45668e; }
.social-icon-large:hover .fa-xing { background-color: #005d5e; }




