$output-bourbon-deprecation-warnings: false;

// visualizing layout internals
$debug: false;

// Fonts

$min_width: 320px;
$max_width: 1920px;
$min_font: 16px;
$max_font: 22px;

// $sans-stack:  'Proxima Nova', 'Montserrat', 'Gotham', system-ui, sans-serif;

$sans-stack:  'Montserrat', 'Proxima Nova', 'Gotham', system-ui, sans-serif;
$serif-stack: 'Lora', 'Abril', 'Miller', serif;

// 

$progress-height: 6em;

// Colors

$text-color: #1a171b !default;

// brand color //#e3001a

$red: #e3001a  !default;

$red-text: $red !default;
$light-red: #da192f !default;

$facebook-color: #3b5998;

// $red-text  :   #df4444;
// $light-red :   #c76164 !default;

// box-shadow default

$box-shadow: 0 4px 6px rgba(90,50,50,.11), 0 1px 3px rgba(0,0,0,.08);
